Here is your first Python code as a *print()* function

In [1]:
print("Hello World! My name is Python =)")

Hello World! My name is Python =)

# Python Keywords

Keywords are the reserved words in Python.

We cannot use a keyword as a variable name, function name or any other identifier. They are used to define the syntax and structure of the Python language.

In Python, keywords are case sensitive. There are **33** keywords (this number can vary slightly, additionally we will not use some of them in our course - **you don't need to fear!**) in Python 3.7.

All the keywords except **True**, **False** and **None** are in **lowercase** and they must be written as it is. The list of all the keywords is given below.

## Keywords List in Python

False	 class	    finally	  is	      return
None	 continue	for	      lambda	  try
True	 def	    from	  nonlocal	  while
and	     del	    global	  not	      with
as	     elif	    if	      or	      yield
assert	 else	    import	  pass	 
break	 except	    in	      raise

# Python Identifiers

An identifier is a name given to entities like class, functions, variables, etc. It helps to differentiate one entity from another.

Here is the general rules of writing more acceptable and more accurate identfiers.

1. Identifiers can be a combination of letters in **lowercase (a to z)** or **uppercase (A to Z)** or **digits (0 to 9)** or **an underscore _**. Names like *myClass*, *var_1* and *print_this_to_screen*, all are valid example.

2. An identifier cannot start with a digit. *1variable* is **invalid**, but *variable1* is **perfectly fine**.

3. Keywords cannot be used as identifiers - (this rule is very important!!). When you use the keywords as identifiers in your code block, you will get an error message on terminal like as:

In [2]:
from = 3

SyntaxError: invalid syntax (<ipython-input-2-dc35719f16ec>, line 1)

In [3]:
while = "ali"

SyntaxError: invalid syntax (<ipython-input-3-0ce0415087af>, line 1)

4. We cannot use special symbols some kind of *!, @, #, $, %* etc. in our identifiers. For examples:

In [4]:
c@ = 77

SyntaxError: invalid syntax (<ipython-input-4-460241e228a4>, line 1)

In [5]:
b!b = "the king"

SyntaxError: invalid syntax (<ipython-input-5-0c275a7e746f>, line 1)

In [6]:
d$z% = 3.98

SyntaxError: invalid syntax (<ipython-input-6-8da193b5d0c1>, line 1)

5. Identifiers can be of any length. There is no limitation for assingning a name to your identifiers in your code under the condition that you define them acceptable and accurate name pattern rules.

In addition, Python is a **case-sensitive** (cS) language. This means that *Variable* and *variable* are not same and they can take different real values to identify them. Always name and use identifiers that make sense in order not to confuse. While, *c = 3* is valid and acceptable. Writing *count = 3* would make more sense and it would be easier to figure out what it does even when you look at your code after a long gap. Multiple words can be separated using an underscore **"_"**, *this_is_a_long_variable_for_this_code*.

# Python Statement

Instructions that a Python interpreter can execute are called statements. For example, *a = 1* is an assignment statement. There are different kinds of statements - **if** statement, **for** statement, **while** statement etc. are other kinds of statements. We will see these types of statements in oncoming lectures later.

## Multi-line statement

In Python, end of a statement is marked by a newline character. But we can make a statement extend over multiple lines with the *line continuation character* **(\\)**. For example:

In [9]:
x = 1 + 2 + 3 + \
    4 + 5 + 6 + \
    7 + 8 + 9

print(x)

45

This is an **explicit** *line continuation* example. On the other hand, we can also imply *line continuation* inside parentheses **( )**, brackets **\[ \]** and braces **{ }** in Python. For instance, we can implement the above multi-line statement as

In [10]:
x = (1 + 2 + 3 + 
    4 + 5 + 6 + 
    7 + 8 + 9)

print(x)

45

In the following examples, the surrounding parentheses represented as **( )** do the *line continuation* **implicitly**. Same is the case with **\[ \]** and **{ }**. For examples:

In [11]:
colors = ['red',
            'blue',
            'green',
                'black',
                    'white']

print(colors)

['red', 'blue', 'green', 'black', 'white']

In [17]:
names = {'ali',
            'veli',
                'mehmet',
            'ahmet',
        'feyyaz',
                'metin'}

print(names)

{'feyyaz', 'veli', 'mehmet', 'metin', 'ahmet', 'ali'}

We could also put multiple statements in a single line using *semicolons* **(;)**:

In [18]:
x = 3; y=5; z=7
print(x,y,z)

3 5 7

Or we could use multiple statements in a single line like this:

In [19]:
x, y, z = 3, 5, 7
print(x,y,z)

3 5 7

# Python Comments

*Comments* are very important while writing a program. We use the *hash* **(#)** symbol for writing a comment. *Comments* are more useful and facilitative for programmers, they provide better understanding of a program. Please feel free to use :)), because Python Interpreter **ignores** comments and **does not execute** them.

In [20]:
# This is a comment.
# print out Hello World!
# Please get used to using comment lines.
print('Hello World!')

Hello World!

## Multi-line comments

Triple quotes, either **' ' '** or **" " "**, are generally used for multi-line strings. However, they can be used as multi-line comment as well.

In [23]:
""" This is also 
a perfect example of
multi-line comments """

''' This is an alternative 
method for using multi-line comments
in your code '''

' This is an alternative \nmethod for using multi-line comments\nin your code '

## Docstring in Python

Docstring is short for documentation string. It is a *string* that occurs as the first statement in a *module*, *function*, *class*, or *method* definition. We should write what a function or class does in the docstring. Triple quotes are used while writing docstrings, for example:

In [29]:
def double(num):
    """Function to double the value"""
    print(num)
    return 2*num
double(5.4)

5.4

10.8

# Python Variables

A variable is a named location used to store data in the memory. It is helpful to think of variables as a container that holds data which can be changed later throughout programming. For example:

In [30]:
x = 100 # initialize and declare a value to x.
print(x)
x = 33.9 # assigning a new variable to x.
print(x)
x = "Python" # assigning a new variable again to x.
print(x)

100
33.9
Python

Here is an example of assigning multiple values to multiple variables. Second example shows how to assign the same value to multiple variables at once.

In [31]:
x, y, z, t = 'ali' , "veli", 3.14, 77
print(x)
print(y)
print(z)
print(t)

x = y = z = t = 0
print(x,y,z,t)

ali
veli
3.14
77
0 0 0 0

# Constants

A *constant* is a type of variable whose value **cannot be changed**. It is helpful to think of constants as containers that hold information which **cannot be changed** later.

Here is an example of assigning and declaring a value to a constant using files named as *numeric_constants.py* and *main_file_constants.py*.

Create a *numeric_constants.py* that includes the well-known constant variables.

Euler = 2.718281
Fi = 1.618033
Gravity = 9.8
Pi = 3.141592

Create a *main_file_constants.py* that imports the *numeric_connstants.py* to use.

import numeric_constants

print(numeric_constants.Euler)
print(numeric_constants.Fi)
print(numeric_constants.Gravity)
print(numeric_constants.Pi)

Run the *main_file_constants* program.

In [32]:
%run main_file_constants.py

2.718281
1.618033
9.8
3.141592

Actually, constants are not used in Python. As shown in the example above, the globals or constants module is used throughout the Python programs.

# Literals

Literal is a raw data given in a variable or constant. In Python, there are various types of literals.

## Numeric Literals

Numeric Literals are **immutable (unchangeable)**. Numeric literals can belong to 3 different numerical types *Integer*, *Float*, and *Complex*.

In [38]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0
3.14j 3.14 0.0

## String literals

A string literal is a sequence of characters surrounded by **quotes**. We can use both **single, double or triple quotes** for a string. And, a character literal is a single character surrounded by **single or double quotes**.

In [58]:
string = "This is ACM114 Course for Python!"
char_1 = "A"
char_2 = 'b'
multiline_string = """This is a multiline string with more than one line code."""
unicode = u"\u00dcmit" + " or " + u"\u00f6l\u00dcm"
string_2 = "Üzüm, çikolata, şeker, öteki, ılımlı"
raw_string = r"raw \n string \n as \n an \n example"

print(string)
print(char_1, char_2)
print(multiline_string)
print(unicode)
print(string_2)
print(raw_string)

This is ACM114 Course for Python!
A b
This is a multiline string with more than one line code.
Ümit or ölÜm
Üzüm, çikolata, şeker, öteki, ılımlı
raw \n string \n as \n an \n example

## Boolean literals

A Boolean literal can have any of the two values: *True* or *False*.

In [51]:
x = (0 == False)
y = (1 == True)
one = True + 4
two = False + 7

print("x is", x)
print("y is", y)
print("first variable:", one)
print("second variable:", two)

x is True
y is True
first variable: 5
second variable: 7

## Special literals

Python contains one special literal i.e. *None*. We use it to specify to that field which is not created.

In [56]:
x = "Lion"
y = None
print(x)
print(y)

Lion
None

## Literal Collections

There are four different literal collections: 
1. **List literals**, 
2. **Tuple literals**, 
3. **Dict literals**, and 
4. **Set literals**.

In [57]:
fruits = ["apple", "banana", "orange", "melon", "watermelon"] #list
numbers = (1, 2, 3, 4, 5, 6, 7, 8, 9, 10) #tuple
alphabets = {'a':'apple', 'b':'banana', 'c':'carpet', 'd':'dentist', 'e':'example'} #dictionary
vowels = {'a', 'e', 'ı', 'i', 'o', 'ö', 'u', 'ü'} #set

print(fruits)
print(numbers)
print(alphabets)
print(vowels)

['apple', 'banana', 'orange', 'melon', 'watermelon']
(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)
{'a': 'apple', 'b': 'banana', 'c': 'carpet', 'd': 'dentist', 'e': 'example'}
{'i', 'ü', 'ı', 'u', 'ö', 'a', 'o', 'e'}

# Python Data Types

Every value has a datatype in Python. Since everything is an **object** in Python programming, data types are actually classes and the variables are *instances* (object) of these classes.

## Python Numbers

*Integers*, *floating point numbers* and *complex numbers* falls under Python numbers category. They are defined as **int**, **float** and **complex class** in Python.

We can use the *type()* function to know which class a variable or a value belongs to and the *isinstance()* function to check if an object belongs to a particular class.

In [59]:
x = 21
print(x, "is of type", type(x))

x = 23.0
print(x, "is of type", type(x))

x = 3+4j
print(x, "is complex number?", isinstance(3+4j,complex))

21 is of type <class 'int'>
23.0 is of type <class 'float'>
(3+4j) is complex number? True

*Integers* can be of any length, it is only limited by the memory available.

*A floating point number* is accurate up to **15** decimal places. **Integer** and **floating points** are separated by decimal points.

Complex numbers are written in the form, *x + yj*, where **x** is the **real part** and **y** is the **imaginary part**.

In [61]:
x = 1234567890123456789
print(x)
y = 0.1234567890123456789
print(y)
z = 3+4j
print(z)

1234567890123456789
0.12345678901234568
(3+4j)

## Python List

**List** is an ordered sequence of items. It is one of the most used datatype in Python and is very flexible. All the items in a list do not need to be of the same type. Declaring a list is pretty straight forward. Items separated by commas are enclosed within brackets **\[ \]**. For example:

In [64]:
lst_1 = [7, 7.7, 'Python', "Java", """C++"""]
print(lst_1)

[7, 7.7, 'Python', 'Java', 'C++']

Lists are **mutable(!)**, meaning, value of elements of a list can be altered.

## Python Tuple

**Tuple** is an ordered sequence of items same as list.The only difference is that tuples are **immutable(!)**. Tuples once created cannot be modified or changed. Tuples are used to write-protect data and are usually faster than list as it cannot change dynamically. It is defined within parentheses **( )** where items are separated by commas. For example:

In [65]:
tpl_1 = (7, 7.7, 'Python', 3+4j, "Java", """C++""")
print(tpl_1)

(7, 7.7, 'Python', (3+4j), 'Java', 'C++')

## Python Strings

**String** is sequence of *Unicode* characters. We can use single quotes or double quotes to represent strings. Multi-line strings can be denoted using triple quotes, **'''** or **"""**. *Strings* are **immutable(!)**.

In [69]:
str_1 = "ACM 114 - Python"
str_2 = '''this is a multiline-string'''
str_3 = """this is an other multiline-string"""
print(str_1)
print(str_2)
print(str_3)

ACM 114 - Python
this is a multiline-string
this is an other multiline-string

## Python Set

**Set** is an unordered collection of unique items. Set is defined by values separated by comma inside braces **{ }**. Items in a set are not orderly presented.

In [70]:
set_1 = {5,2,3,1,4}

# printing set variable
print("set_1 = ", set_1)

# data type of variable set_1
print(type(set_1))

set_1 =  {1, 2, 3, 4, 5}
<class 'set'>

## Python Dictionary

**Dictionary** is an unordered collection of *key-value pairs*. It is generally used when we have a huge amount of data. Dictionaries are optimized for retrieving data. We must know the key to retrieve the value. In Python, dictionaries are defined within braces **{ }** with each item being a pair in the form *key:value*. Key and value can be of any type.

In [75]:
dict_1 = {1:'apple', 2:'banana'}
type(dict_1)
# print(dict_1)
# print(type(dict_1))

dict

## Conversion between data types

We can convert between different data types by using different type conversion functions like *int()*, *float()*, *str()* etc.

1. Conversion from float to int will truncate the value (make it closer to zero).

2. Conversion to and from string must contain compatible values.

For examples:

In [76]:
float(25)

25.0

In [77]:
int(7.8)

7

In [78]:
int(-7.8)

-7

In [79]:
int(-7.2)

-7

In [80]:
float('3.7')

3.7

In [105]:
int('77')

77

In [106]:
int('2+3')

ValueError: invalid literal for int() with base 10: '2+3'

In [107]:
eval('2+3')

5

In [81]:
str(33)

'33'

In [82]:
str(33.9)

'33.9'

In [83]:
int('ali')

ValueError: invalid literal for int() with base 10: 'ali'

## Type Conversion

The process of converting the value of one data type (integer, string, float, etc.) to another data type is called *type conversion*. Python has two types of type conversion.

1. **Implicit Type Conversion**
2. **Explicit Type Conversion**

### Implicit Type Conversion

In *Implicit type conversion*, Python automatically converts one data type to another data type. This process doesn't need any user involvement.

In [86]:
int_number = 345
float_number = 6.78

newNumber = int_number + float_number

print("Data type of int_number:",type(int_number))
print("Data type of float_number:",type(float_number))

print("Value of newNumber:",newNumber)
print("Data type of newNumber:",type(newNumber))

Data type of int_number: <class 'int'>
Data type of float_number: <class 'float'>
Value of newNumber: 351.78
Data type of newNumber: <class 'float'>

In [87]:
int_number = 345
str_number = "456"

print("Data type of int_number:",type(int_number))
print("Data type of num_str:",type(str_number))

print(int_number + str_number)

Data type of int_number: <class 'int'>
Data type of num_str: <class 'str'>

TypeError: unsupported operand type(s) for +: 'int' and 'str'

### Explicit Type Conversion

In *Explicit Type Conversion*, users convert the data type of an object to required data type. We use the predefined functions like **int()**, **float()**, **str()**, etc to perform explicit type conversion. 

This type conversion is also called **typecasting** because the user casts (change) the data type of the objects.

In [90]:
int_number = 345
str_number = "543"

print("Data type of int_number:",type(int_number))
print("Data type of str_number before Type Casting:",type(str_number))

str_number = int(str_number)
print("Data type of str_number after Type Casting:",type(str_number))

sumOfNumbers = int_number + str_number

print("Sum of int_number and str_number:",sumOfNumbers)
print("Data type of the sum:",type(sumOfNumbers))

Data type of int_number: <class 'int'>
Data type of str_number before Type Casting: <class 'str'>
Data type of str_number after Type Casting: <class 'int'>
Sum of int_number and str_number: 888
Data type of the sum: <class 'int'>

# Python Input, Output and Import

Python provides numerous **built-in functions** that are readily available to us at the Python prompt. Some of the functions like *input()* and *print()* are widely used for standard input and output operations respectively.

## Python Output Using print() function

We use the *print()* function to output data to the standard output device (screen).

In [94]:
print('This sentence is output to the screen')
# Output_1: This sentence is output to the screen

x = 333

print('The value of x is', x)
# Output_2: The value of x is 333

This sentence is output to the screen
The value of x is 333

The actual syntax of the *print()* function is:

print(*objects, sep=' ', end='\n', file=sys.stdout, flush=False)  

where **objects** is the value(s) to be printed. 

The **sep** separator is used between the values. It defaults into a space character.

After all values are printed, **end** is printed. It defaults into a new line.

The **file** is the object where the values are printed and its default value is *sys.stdout* (screen).

In [95]:
print(1,2,3,4)
# Output_1: 1 2 3 4

print(1,2,3,4,sep='*')
# Output_2: 1*2*3*4

print(1,2,3,4,sep='#',end='&')
# Output_3: 1#2#3#4&

1 2 3 4
1*2*3*4
1#2#3#4&

## Output formatting with different examples using *print()* function

Using *str.format()* method:

In [96]:
x = 3; 
y = 4.5
print('The value of x is {} and y is {}'.format(x,y))

The value of x is 3 and y is 4.5

In [97]:
print('I like {0}, {1} and {2}.'.format('music','theatre','dance'))
# Output_1: I like music, theatre and dance.

print('I like {2}, {0} and {1}.'.format('music','theatre','dance'))
# Output_2: I like dance, music and theatre.

I like music, theatre and dance.
I like dance, music and theatre.

In [98]:
print('Hello {name}, {greeting}'.format(name = 'Cihan', greeting = 'Good morning my friend!'))

Hello Cihan, Good morning my friend!

We can even format strings like the old *sprintf()* style used in C programming language. We use the % operator to accomplish this.

In [100]:
no_1 = 123.456789
print('The value of no_1 is %3.2f' %no_1)
print('The value of no_1 is %3.4f' %no_1)

The value of no_1 is 123.46
The value of no_1 is 123.4568

# Python Input

To allow flexibility, we might want to take the input from the user. In Python, we have the *input()* function to allow this.

In [103]:
number = input('Enter a number: ')
number
# print(number)

Enter a number: 12345

'12345'

In [108]:
number = int(input('Enter a number: '))
number
# print(number)

Enter a number: 12345

12345

In [109]:
number = float(input('Enter a number: '))
number
# print(number)

Enter a number: 12.345

12.345

In [112]:
string = str(input('Enter a string: '))
string
# print(number)

Enter a string: ACM 114

'ACM 114'

# Python Import

A *module* is a file containing Python definitions and statements. 

*Python modules* have a filename and end with the extension **.py**.

Definitions inside a module can be imported to another module or the interactive interpreter in Python. We use the *import* keyword to do this.

Here is an example:

In [113]:
import math
print(math.pi)

3.141592653589793

In [116]:
from math import pi
pi
# print(pi)

3.141592653589793

In [117]:
from math import *
pi
# print(pi)

3.141592653589793

In [118]:
import math as m
print(m.pi)

3.141592653589793

In [121]:
import sys
sys.path
# print(sys.path)

['C:\\Users\\cihan\\Desktop',
 'C:\\Users\\cihan\\Anaconda3\\python37.zip',
 'C:\\Users\\cihan\\Anaconda3\\DLLs',
 'C:\\Users\\cihan\\Anaconda3\\lib',
 'C:\\Users\\cihan\\Anaconda3',
 '',
 'C:\\Users\\cihan\\AppData\\Roaming\\Python\\Python37\\site-packages',
 'C:\\Users\\cihan\\Anaconda3\\lib\\site-packages',
 'C:\\Users\\cihan\\Anaconda3\\lib\\site-packages\\win32',
 'C:\\Users\\cihan\\Anaconda3\\lib\\site-packages\\win32\\lib',
 'C:\\Users\\cihan\\Anaconda3\\lib\\site-packages\\Pythonwin',
 'C:\\Users\\cihan\\Anaconda3\\lib\\site-packages\\IPython\\extensions',
 'C:\\Users\\cihan\\.ipython']

# Python Operators

*Operators* are special symbols in Python that carry out arithmetic or logical computation. The value that the operator operates on is called the **operand**.

In [124]:
5+6

11

Here, + is the **operator** that performs addition. *5* and *6* are the **operands** and *11* is the **output** of the operation.

## Arithmetic operators

Arithmetic operators are used to perform mathematical operations like *addition*, *subtraction*, *multiplication* etc.

In [125]:
x = 10
y = 4
# Output_1: x + y = 14
print('x + y =',x+y)
# Output_2: x - y = 6
print('x - y =',x-y)
# Output_3: x * y = 40
print('x * y =',x*y)
# Output_4: x / y = 2.5
print('x / y =',x/y)
# Output_5: x // y = 2
print('x // y =',x//y)
# Output_6: x ** y = 10000
print('x ** y =',x**y)

x + y = 14
x - y = 6
x * y = 40
x / y = 2.5
x // y = 2
x ** y = 10000

# Python Namespace and Scope

## What is Name in Python?

*Name* (also called **identifier**) is simply a name given to objects. Everything in Python is an **object**. *Name* is a way to access the underlying object.

For example, when we do the assignment *x = 2*, here *2* is an object stored in memory and *x* is the name we associate it with. We can get the address (in RAM) of some object through *the built-in function*, **id()**. Let's check it.

In [130]:
# Note: You may get different value of id

x = 2

# Output_1: id(2)= 140703923282352
print('id(2) =', id(2))

# Output_2: id(x) = 140703923282352
print('id(x) =', id(x))

id(2) = 140703923282352
id(x) = 140703923282352

In [131]:
# Note: You may get different value of id

x = 2

# Output_1: id(x) = 140703923282352
print('id(x) =', id(x))

x = x+1

# Output_2: id(x) = 140703923282384
print('id(x) =', id(x))

# Output_3: id(3) = 140703923282384
print('id(3) =', id(3))

y = 2

# Output_4: id(2)= 140703923282352
print('id(2) =', id(2))

# Output_5: id(y)= 140703923282352
print('id(y) =', id(y))

id(x) = 140703923282352
id(x) = 140703923282384
id(3) = 140703923282384
id(2) = 140703923282352
id(y) = 140703923282352

# Turtle Examples

In [132]:
from turtle import *        # turtle (kaplumbağa) kütüphanesini kullan
space = Screen()            # kaplumbağanın kullanımı için space adında bir ekran nesnesi tanımla
alex = Turtle()             # alex adında bir kaplumbağa nesnesi tanımla
alex.forward(150)           # alex objesi 150 birim ileri gitsin
alex.left(90)               # alex objesi 90 derece sola dönsün
alex.forward(75)            # alex objesi 75 birim ileri gitsin

In [1]:
from turtle import *        # turtle (kaplumbağa) kütüphanesini kullan
space = Screen()            # kaplumbağanın kullanımı için space adında bir ekran nesnesi tanımla
zari = Turtle()             # zari adında bir turtle (kaplumbağa) nesnesi tanımla
zari.setheading(90)         # Başlangıç noktasını kuzey olarak ata
zari.forward(100)           # zariye ileri 100 birim ilerlemesini söyle
zari.right(90)              # zari 90 derece sağa dönsün
zari.forward(100)           # zariye ileri 100 birim ilerlemesini söyle
zari.right(90)              # zari 90 derece sağa dönsün
zari.forward(100)           # zariye ileri 100 birim ilerlemesini söyle
zari.right(90)              # zari 90 derece sağa dönsün
zari.forward(100)           # zariye ileri 100 birim ilerlemesini söyle
zari.right(90)              # zari 90 derece sağa dönsün