You’ll cover the important characteristics of lists and tuples. You’ll learn how to define them and how to manipulate them. When you’re finished, you should have a good feel for when and how to use these object types in a Python program.

# 1. Python List

## 1.1. How to create a list?

In Python programming, a list is created by placing all the items (elements) inside a square bracket [ ], separated by commas.

* It can have any number of items and they may be of different types (integer, float, string etc.).

In [2]:
# empty list
my_list = []

# list of integers
my_list = [1, 2, 3]
print(my_list)

# list with mixed datatypes
my_list = [1, "Hello", 3.4]
print(my_list)

[1, 2, 3]
[1, 'Hello', 3.4]

In [3]:
squares = [1, 4, 9, 16, 25]
squares

[1, 4, 9, 16, 25]

In [11]:
a = ['ali', 'ahmet', 'ayşe', 'fatma']
print(a)
a

['ali', 'ahmet', 'ayşe', 'fatma']

['ali', 'ahmet', 'ayşe', 'fatma']

In [5]:
thislist = ["apple", "banana", "cherry"]
print(thislist)

['apple', 'banana', 'cherry']

In [6]:
myList = ["The", "earth", "revolves", "around", "sun"]
myList

['The', 'earth', 'revolves', 'around', 'sun']

In [12]:
L1=[10, 25.5, 3+2j, "Hello"]
print(L1)

[10, 25.5, (3+2j), 'Hello']

* Also, a list can even have another list as an item. This is called nested list.

In [10]:
# nested list
my_list = ["mouse", [8, 4, 6], ['a']]
my_list

['mouse', [8, 4, 6], ['a']]

The important characteristics of Python lists are as follows:

* Lists are ordered.
* Lists can contain any arbitrary objects.
* List elements can be accessed by index.
* Lists can be nested to arbitrary depth.
* Lists are mutable.
* Lists are dynamic.

## 1.2. Lists are ordered

A list is not merely a collection of objects. It is an ordered collection of objects. The order in which you specify the elements when you define a list is an innate characteristic of that list and is maintained for that list’s lifetime. 

Lists that have the same elements in a different order are not the same:

In [14]:
a = ['ali', 'ahmet', 'ayşe', 'fatma']
b = ['Python', 'C++', 'Java', 'C', 'Fortran']
print(a == b)

print(a is b)

print([1, 2, 3, 4] == [4, 1, 3, 2])

False
False
False

## 1.3. Lists Can Contain Arbitrary Objects

* A list can contain any assortment of objects. The elements of a list can all be the same type:

In [15]:
a = [2, 4, 6, 8]
a

[2, 4, 6, 8]

* Or the elements can be of varying types:

In [16]:
a = [21.42, 'ali', 3, 4, "Python", False, 3.14159]
a

[21.42, 'ali', 3, 4, 'Python', False, 3.14159]

* Lists can even contain complex objects, like functions, classes, and modules, which you will learn about in upcoming tutorials:

In [26]:
int
# print(type(int))

len
# print(type(len))

def foo():
    pass
foo
# print(type(foo))

import math
math
# print(type(math))

a = [int, len, foo, math]
a
# print(a)

[int,
 <function len(obj, /)>,
 <function __main__.foo()>,
 <module 'math' (built-in)>]

* A list can contain any number of objects, from zero to as many as your computer’s memory will allow:

In [28]:
>>> a = []
print(a)

a = [ 'Python' ]
print(a)

a = [0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20,
21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40,
41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60,
61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80,
81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
print(a)

[]
['Python']
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]

(A list with a single object is sometimes referred to as a singleton list.)

* List objects needn’t be unique. A given object can appear in a list multiple times:

In [30]:
a = ['Python', 'ACM', '114', 114, 'ACM', 'Python']
a

['Python', 'ACM', '114', 114, 'ACM', 'Python']

## 1.4. List Elements Can Be Accessed by Index

Individual elements in a list can be accessed using an index in square brackets. This is exactly analogous to accessing individual characters in a string. List indexing is zero-based as it is with strings.

* We can use the index operator [ ] to access an item in a list. Index starts from 0. So, a list having 5 elements will have index from 0 to 4.

* Trying to access an element other that this will raise an IndexError. The index must be an integer. We can't use float or other types, this will result into TypeError.

* Nested list are accessed using nested indexing.

In [32]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

* The indices for the elements in a are shown below:

<img src="https://files.realpython.com/media/t.eb0b38e642c5.png" alt="Indices for a list" title="The indices for the elements in a" />

In [38]:
print(a[0])
print(a[3])
print(a[5])

foo
qux
corge

In [37]:
thislist = ["apple", "banana", "cherry"]
print(thislist[2])

cherry

In [52]:
fruit = "banana"
print(fruit[1])
fruits = ['apples', 'cherries', 'pears']
print(fruits[0])

a
apples

In [39]:
List = [2, 4, 5.5, "Hi"]
print("List[3] = ", List[3])

List[3] =  Hi

In [42]:
squares = [1, 4, 9, 16, 25]
print(squares[0])  # indexing returns the item
print(squares[2])
print(squares[-1])

1
9
25

In [43]:
my_list = ['p','r','o','b','e']
# Output_1: p
print(my_list[0])

# Output_2: o
print(my_list[2])

# Output_3: e
print(my_list[4])

# Error! Only integer can be used for indexing
# my_list[4.0]

# Nested List
nested_list = ["Happy", [2,0,1,5]]

# Nested indexing

# Output_4: a
print(nested_list[0][1])    

# Output_5: 5
print(nested_list[1][3])

p
o
e
a
5

* Virtually everything about string indexing works similarly for lists. For example, a negative list index counts from the end of the list:

In [45]:
a = ['foo', 'bar', 'baz', 'qux', 'quux', 'corge']
a

['foo', 'bar', 'baz', 'qux', 'quux', 'corge']

<img src="https://files.realpython.com/media/t.c11ea56e8ca2.png" alt="Negative List Indexing" title="The negative indices for the elements in a" />

In [46]:
print(a[-1])
print(a[-3])
print(a[-6])

corge
qux
foo

In [47]:
thislist = ["apple", "banana", "cherry"]
print(thislist[-1])

cherry

In [48]:
my_list = ['p','r','o','b','e']

# Output_1: e
print(my_list[-1])

# Output_2: o
print(my_list[-3])

# Output_3: p
print(my_list[-5])

e
o
p

<img src="https://cdn.programiz.com/sites/tutorial2program/files/python-list-index.png" alt="Negative List Indexing" title="The negative indices for the elements in my_list" />

In [54]:
prime_nums = [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31]
print(prime_nums[-2])

classmates = ("Ali", "Emrah", "Karin", "Peri", "Sinan", "Poyraz")
print(classmates[-5])

word = "Python"
print(word[-3])

29
Emrah
h

* Slicing also works. If a is a list, the expression a[m:n] returns the portion of a from index m to, but not including, index n:

In [55]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a[2:5]

['beril', 'ayşe', 'cansu']

In [56]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:5])

['cherry', 'orange', 'kiwi']

In [57]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[:4])

['apple', 'banana', 'cherry', 'orange']

In [58]:
thislist = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]
print(thislist[2:])

['cherry', 'orange', 'kiwi', 'melon', 'mango']

In [60]:
List = [2, 4, 5.5, "Hi"]
print("List[0:3] = ", List[0:3])

List[0:3] =  [2, 4, 5.5]

Other features of string slicing work analogously for list slicing as well:

* Both positive and negative indices can be specified:

In [61]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
print(a[-5:-2])
print(a[1:4])
print(a[-5:-2] == a[1:4])

['ahmet', 'beril', 'ayşe']
['ahmet', 'beril', 'ayşe']
True

In [62]:
squares = [1, 4, 9, 16, 25]
print(squares[:])

[1, 4, 9, 16, 25]

In [66]:
my_list = ['A','C','M','1','1','4','P','y','t','h','o','n']

# elements 3rd to 5th
print(my_list[3:6])

# elements beginning to 4th
print(my_list[:-6])

# elements 6th to end
print(my_list[6:])

# elements beginning to end
print(my_list[:])

['1', '1', '4']
['A', 'C', 'M', '1', '1', '4']
['P', 'y', 't', 'h', 'o', 'n']
['A', 'C', 'M', '1', '1', '4', 'P', 'y', 't', 'h', 'o', 'n']

* Omitting the first index starts the slice at the beginning of the list, and omitting the second index extends the slice to the end of the list:

In [1]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
print(a[:4], a[0:4])
print(a[2:], a[2:len(a)])
print(a[:4] + a[4:])
print(a[:4] + a[4:] == a)

['ali', 'ahmet', 'beril', 'ayşe'] ['ali', 'ahmet', 'beril', 'ayşe']
['beril', 'ayşe', 'cansu', 'can'] ['beril', 'ayşe', 'cansu', 'can']
['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
True

* You can specify a stride—either positive or negative:

In [2]:
print(a[0:6:2])
print(a[1:6:2])
print(a[6:0:-2])

['ali', 'beril', 'cansu']
['ahmet', 'ayşe', 'can']
['can', 'ayşe', 'ahmet']

* The syntax for reversing a list works the same way it does for strings:

In [4]:
print(a[::-1])

['can', 'cansu', 'ayşe', 'beril', 'ahmet', 'ali']

* The [:] syntax works for lists. However, there is an important difference between how this operation works with a list and how it works with a string.

    * If s is a string, s[:] returns a reference to the same object:

In [5]:
str_1 = 'Python'
print(str_1[:])
print(str_1[:] is str_1)

Python
True

In [7]:
singers = "Tarkan, Sezen, and Murat"
print(singers[0:6])
print(singers[8:13])
print(singers[19:25])

Tarkan
Sezen
Murat

In [12]:
fruit = "banana"
print(fruit[:3])
print(fruit[3:])
print(fruit[-2:])
print(fruit[0:6:2])
print(fruit[::-2])

ban
ana
na
bnn
aaa

* Conversely, if a is a list, a[:] returns a new object that is a copy of a:

In [13]:
print(a[:])
print(a[:] is a)

['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
False

* Several Python operators and built-in functions can also be used with lists in ways that are analogous to strings:
    * The **in** and **not in** operators:

In [14]:
print(a)
print('ali' in a)
print('murat' not in a)

['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
True
True

In [15]:
my_list = ['A','C','M','1','1','4','P','y','t','h','o','n']

# Output_1: True
print('P' in my_list)

# Output_2: False
print('a' in my_list)

# Output_3: True
print('m' not in my_list)

True
False
True

In [29]:
stuff = ['this', 'that', 'these', 'those']
print('this' in stuff)
print('everything' in stuff)

True
False

* **in** and **not in** operators can also be used for string literals as follows:

In [31]:
print('P' in 'Python')
print('t' in 'Python')
print('m' in 'Python')
print('Py' in 'Python')
print('thon' in 'Python')
print('then' in 'Python')

True
True
False
True
True
False

* Note that a string is a substring of itself, and the empty string is a substring of any other string. **(Also note that computer programmers like to think about these edge cases quite carefully!)**

In [33]:
print('P' in 'P')
print('Python' in 'Python')
print('' in 'P')
print('' in 'Python')

True
True
True
True

In [20]:
fruits_list = ["apple", "banana", "orange", "grapefruit", "mandarin", "kiwi"]
if "kiwi" in fruits_list:
    print("Yes, 'kiwi' is in the fruits list.")
if "mango" not in fruits_list:
    print("No, 'mango' is not in the fruits list.")

Yes, 'kiwi' is in the fruits list.
No, 'mango' is not in the fruits list.

* Python operators and built-in functions (cont'd)
    * The concatenation (+) and replication (*) operators:

In [22]:
print(a)
print(a + ['murat', 'sahra'])
print(a * 2)

['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can', 'murat', 'sahra']
['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can', 'ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']

In [25]:
odd_numbers = [1, 3, 5]

# Output_1: [1, 3, 5, 7, 9, 11, 13, 15]
print(odd_numbers + [7, 9, 11, 13, 15])

#Output_2: ["Python", "Python", "Python", "Python", "Python"]
print(["Python"] * 3 + ['Python'] * 2)

[1, 3, 5, 7, 9, 11, 13, 15]
['Python', 'Python', 'Python', 'Python', 'Python']

In [27]:
squares = [1, 4, 9, 16, 25]
print(squares + [6*6, 49, 8*8, 81, 10*10])

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

* There are several ways to join, or concatenate, two or more lists in Python. One of the easiest ways are by using the + operator.

In [28]:
list_1 = ["a", "b" , "c"]
list_2 = [1, 2, 3]
list_3 = list_1 + list_2
print(list_3)

['a', 'b', 'c', 1, 2, 3]

* Python operators and built-in functions (cont'd)
    * The len(), min(), and max() functions:

In [38]:
b = [1, 2, 3, 4, 5]
print(b)
print(len(b))
print(min(b))
print(max(b))

# For an extra example
print(sum(b))

[1, 2, 3, 4, 5]
5
1
5
15

In [42]:
letters = ['a', 'b', 'c', 'd']
print(letters)
print(len(letters))
print(min(letters))
print(max(letters))
print(sum(letters)) # This will give an error (Traceback error - unsupported type()). 
                    # Because sum built-in function can not be used for string literals.

['a', 'b', 'c', 'd']
4
a
d

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [44]:
fruits_list = ["apple", "banana", "orange", "grapefruit", "mandarin", "kiwi"]
print(len(fruits_list))
print(max(fruits_list))
print(min(fruits_list))

6
orange
apple

In [46]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
print(len(a))
print(max(a))
print(min(a)) # Is there something wrong here? Why do you think it gave such a result?
              # It will give a result as 'ahmet'. Should it be 'ali' or 'can'?

6
cansu
ahmet

* It’s not an accident that strings and lists behave so similarly. They are both special cases of a more general object type called an iterable, which you will encounter in more detail in the upcoming tutorial on definite iteration. By the way, in each example above, the list is always assigned to a variable before an operation is performed on it. But you can operate on a list literal as well:

In [47]:
print(['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can'][2])

print(['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can'][::-1])

print('murat' in ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can'])

print(['ali', 'ahmet', 'beril'] + ['ayşe', 'cansu', 'can'])

print(len(['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can'][::-1]))

beril
['can', 'cansu', 'ayşe', 'beril', 'ahmet', 'ali']
False
['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
6

* For that matter, you can do likewise with a string literal:

In [48]:
print('One thing only I know, and that is that I know nothing.'[::-1])

.gnihton wonk I taht si taht dna ,wonk I ylno gniht enO

# 1.5. Lists Can Be Nested

* You have seen that an element in a list can be any sort of object. That includes another list. A list can contain sublists, which in turn can contain sublists themselves, and so on to arbitrary depth.

Consider this (admittedly contrived) example:

In [50]:
x = ['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
print(x)

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']

* The object structure that x references is diagrammed below:

<img src="https://files.realpython.com/media/t.08554d94a1e5.png" alt="Nested list as x" title="A Nested List" />

* x[0], x[2], and x[4] are strings, each one character long:

In [51]:
print(x[0], x[2], x[4])

a g j

* But x[1] and x[3] are sublists:

In [52]:
print(x[1])
print(x[3])

['bb', ['ccc', 'ddd'], 'ee', 'ff']
['hh', 'ii']

* To access the items in a sublist, simply append an additional index:

In [55]:
print(x[1])
print(x[1][0])
print(x[1][1])
print(x[1][2])
print(x[1][3])
print(x[3])
print(x[3][0], x[3][1])

['bb', ['ccc', 'ddd'], 'ee', 'ff']
bb
['ccc', 'ddd']
ee
ff
['hh', 'ii']
hh ii

* x[1][1] is yet another sublist, so adding one more index accesses its elements:

In [58]:
print(x[1])
print(x[1][1])
print(x[1][1][0], x[1][1][1])

['bb', ['ccc', 'ddd'], 'ee', 'ff']
['ccc', 'ddd']
ccc ddd

* There is no limit, short of the extent of your computer’s memory, to the depth or complexity with which lists can be nested in this way. All the usual syntax regarding indices and slicing applies to sublists as well:

In [60]:
print(x[1])
print(x[1][1][-1])
print(x[1][1:3])
print(x[3])
print(x[3][::-1])

['bb', ['ccc', 'ddd'], 'ee', 'ff']
ddd
[['ccc', 'ddd'], 'ee']
['hh', 'ii']
['ii', 'hh']

* However, be aware that operators and functions apply to only the list at the level you specify and are not recursive. Consider what happens when you query the length of x using len():

In [64]:
print(x)
print(len(x))
print(x[0])
print(len(x[0]))
print(x[1])
print(len(x[1]))
print(x[1][0])
print(len(x[1][0]))
print(x[1][1])
print(len(x[1][1]))
print(x[1][1][0])
print(len(x[1][1][0]))
print(x[1][1][1])
print(len(x[1][1][1]))
print(x[1][2])
print(len(x[1][2]))
print(x[1][3])
print(len(x[1][3]))
print(x[2])
print(len(x[2]))
print(x[3])
print(len(x[3]))
print(x[3][0])
print(len(x[3][0]))
print(x[3][1])
print(len(x[3][1]))
print(x[4])
print(len(x[4]))

['a', ['bb', ['ccc', 'ddd'], 'ee', 'ff'], 'g', ['hh', 'ii'], 'j']
5
a
1
['bb', ['ccc', 'ddd'], 'ee', 'ff']
4
bb
2
['ccc', 'ddd']
2
ccc
3
ddd
3
ee
2
ff
2
g
1
['hh', 'ii']
2
hh
2
ii
2
j
1

* x has only five elements—three strings and two sublists. The individual elements in the sublists don’t count toward x’s length.

* You’d encounter a similar situation when using the in operator:

In [65]:
print('ddd' in x)
print('ddd' in x[1])
print('ddd' in x[1][1])

False
False
True

* **'ddd'** is not one of the elements in x or x[1]. It is only directly an element in **the sublist** x[1][1]. An individual element in a *sublist* **does not count** as an element of the *parent list(s)*.

In [69]:
a_1 = ['a', 'b', 'c']
a_2 = [1, 2, 3]
a_3 = [a_1, a_2]
a_4 = a_1 + a_2
a_5 = [a_1] + [a_2]
print(a_3)
print(a_3[0])
print(a_3[0][1])
print(a_3[1][2])
print(a_4)
print(a_5)

[['a', 'b', 'c'], [1, 2, 3]]
['a', 'b', 'c']
b
3
['a', 'b', 'c', 1, 2, 3]
[['a', 'b', 'c'], [1, 2, 3]]

In [73]:
nested = ["hello", 2.0, 5, [10, 20]]
elem_1 = nested[3]
print(elem_1[0])
print(nested[3][1])
elem_2 = nested[0]
print(elem_2)
print(elem_2[4])

10
20
hello
o

In [104]:
def print_matrix(list_of_list):
    number_width = len(str(max([max(i) for i in list_of_list])))
    cols = max(map(len, list_of_list))
    output = '+'+('-'*(number_width+2)+'+')*cols + '\n'
    for row in list_of_list:
        for column in row:
            output += '|' + ' {:^{width}d} '.format(column, width = number_width)
        output+='|\n+'+('-'*(number_width+2)+'+')*cols + '\n'
    return output

data = [[1,2,3],
        [4,5,6],
        [7,8,9]]
print(print_matrix(data))

+---+---+---+
| 1 | 2 | 3 |
+---+---+---+
| 4 | 5 | 6 |
+---+---+---+
| 7 | 8 | 9 |
+---+---+---+

In [105]:
import pandas as pd
# z = x**2 + y**2
data = [[1, 2, 1**2 + 2**2], [2, 3, 2**2 + 3**2], [3,4, 3**2 + 4**2], [4, 5, 4**2 + 5**2]]
print(pd.DataFrame(data, columns=["X", "Y", "Z"]))

   X  Y   Z
0  1  2   5
1  2  3  13
2  3  4  25
3  4  5  41

# 1.6. Lists Are Mutable

Most of the data types you have encountered so far have been atomic types. Integer or float objects, for example, are primitive units that can’t be further broken down. These types are immutable, meaning that they can’t be changed once they have been assigned. It doesn’t make much sense to think of changing the value of an integer. If you want a different integer, you just assign a different one.

By contrast, the string type is a composite type. Strings are reducible to smaller parts—the component characters. It might make sense to think of changing the characters in a string. But you can’t. In Python, strings are also immutable.

The list is the first mutable data type you have encountered. Once a list has been created, elements can be added, deleted, shifted, and moved around at will. Python provides a wide range of ways to modify lists.

## 1.6.1. Modifying a Single List Value

A single value in a list can be replaced by indexing and simple assignment:

In [106]:
List = [2, 4, 5.5, "Hi"]
List[3] = "Hello"
print(List)

[2, 4, 5.5, 'Hello']

In [74]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
print(a)
a[2] = 10
a[-1] = 20
print(a)

['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
['ali', 'ahmet', 10, 'ayşe', 'cansu', 20]

In [75]:
# mistake values
odd = [2, 4, 6, 8]

# change the 1st item    
odd[0] = 1            

# Output_1: [1, 4, 6, 8]
print(odd)

# change 2nd to 4th items
odd[1:4] = [3, 5, 7]  

# Output_2: [1, 3, 5, 7]
print(odd)

[1, 4, 6, 8]
[1, 3, 5, 7]

In [76]:
cubes = [1, 8, 27, 65, 125]  # something's wrong here
print(cubes)
print(4 ** 3)
cubes[3] = 64  # replace the wrong value
print(cubes)

[1, 8, 27, 65, 125]
64
[1, 8, 27, 64, 125]

In [77]:
fruit = ["banana", "apple", "quince"]
fruit[0] = "pear"
fruit[-1] = "orange"
print(fruit)

['pear', 'apple', 'orange']

In [78]:
s = 'Python'
s[2] = 'x'
print(s)

TypeError: 'str' object does not support item assignment

In [79]:
my_string = 'TEST'
my_string[2] = 'X'
print(my_string)

TypeError: 'str' object does not support item assignment

In [80]:
my_list = ['T', 'E', 'S', 'T']
my_list[2] = 'X'
print(my_list)

['T', 'E', 'X', 'T']

## 1.6.2. Modifying Multiple List Values

What if you want to change several contiguous elements in a list at one time? Python allows this with slice assignment, which has the following syntax:

a[m:n] = <iterable>

Again, for the moment, think of an iterable as a list. This assignment replaces the specified slice of a with \< iterable \>:

In [81]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
print(a[1:4])
a[1:4] = [1.1, 2.2, 3.3, 4.4, 5.5]
print(a)
print(a[1:6])
[1.1, 2.2, 3.3, 4.4, 5.5]
a[1:6] = ['Python']
print(a)

['ahmet', 'beril', 'ayşe']
['ali', 1.1, 2.2, 3.3, 4.4, 5.5, 'cansu', 'can']
[1.1, 2.2, 3.3, 4.4, 5.5]
['ali', 'Python', 'cansu', 'can']

In [82]:
letters = ['a', 'b', 'c', 'd', 'e', 'f', 'g']
print(letters)
# replace some values
letters[2:5] = ['C', 'D', 'E']
print(letters)
['a', 'b', 'C', 'D', 'E', 'f', 'g']
# now remove them
letters[2:5] = []
print(letters)
# clear the list by replacing all the elements with an empty list
letters[:] = []
print(letters)

['a', 'b', 'c', 'd', 'e', 'f', 'g']
['a', 'b', 'C', 'D', 'E', 'f', 'g']
['a', 'b', 'f', 'g']
[]

In [84]:
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
a_list[1:3] = ['x', 'y']
print(a_list)

['a', 'x', 'y', 'd', 'e', 'f']

In [85]:
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
a_list[1:3] = []
print(a_list)

['a', 'd', 'e', 'f']

In [87]:
a_list = ['a', 'd', 'f']
print(a_list)
a_list[1:1] = ['b', 'c']
print(a_list)
a_list[4:4] = ['e']
print(a_list)

['a', 'd', 'f']
['a', 'b', 'c', 'd', 'f']
['a', 'b', 'c', 'd', 'e', 'f']

The number of elements inserted need not be equal to the number replaced. Python just grows or shrinks the list as needed.

You can insert multiple elements in place of a single element—just use a slice that denotes only one element:

In [107]:
a = [1, 2, 3]
a[1:2] = [2.1, 2.2, 2.3]
print(a)

[1, 2.1, 2.2, 2.3, 3]

Note that this is not the same as replacing the single element with a list:

In [108]:
a = [1, 2, 3]
a[1] = [2.1, 2.2, 2.3]
print(a)

[1, [2.1, 2.2, 2.3], 3]

You can also insert elements into a list without removing anything. Simply specify a slice of the form [n:n] (a zero-length slice) at the desired index:

In [109]:
a = [1, 2, 7, 8]
a[2:2] = [3, 4, 5, 6]
print(a)

[1, 2, 3, 4, 5, 6, 7, 8]

You can delete multiple elements out of the middle of a list by assigning the appropriate slice to an empty list:

In [111]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a[1:5] = []
print(a)

['ali', 'can']

## 1.6.3. Prepending or Appending Items to a List

Additional items can be added to the start or end of a list using the + concatenation operator or the += augmented assignment operator:

In [112]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a += ['murat', 'sahra']
print(a)
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a = [10, 20] + a
print(a)

['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can', 'murat', 'sahra']
[10, 20, 'ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']

Note that a list must be concatenated with another list, so if you want to add only one element, you need to specify it as a singleton list:

In [113]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a += 20
print(a)

TypeError: 'int' object is not iterable

In [114]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a += [20]
print(a)

['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can', 20]

In [115]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a += 'murat'
print(a)

['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can', 'm', 'u', 'r', 'a', 't']

In [116]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a += ['murat']
print(a)

['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can', 'murat']

## 1.6.4. Methods That Modify a List

Finally, Python supplies several built-in methods that can be used to modify lists. Information on these methods is detailed below.

In [119]:
str_1 = 'python'
str_2 = str_1.upper()
print(str_1, str_2)

python PYTHON

### 1.6.4.1. List deletion

In [120]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
del a[3]
print(a)

['ali', 'ahmet', 'beril', 'cansu', 'can']

In [121]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
del a[1:5]
print(a)

['ali', 'can']

In [122]:
b = ['one', 'two', 'three']
del b[1]
print(b)

['one', 'three']

In [123]:
a_list = ['a', 'b', 'c', 'd', 'e', 'f']
del a_list[1:5]
print(a_list)

['a', 'f']

In [134]:
my_list = ['p','r','o','b','l','e','m']

# delete one item
del my_list[2]

# Output_1: ['p', 'r', 'b', 'l', 'e', 'm']     
print(my_list)

# delete multiple items
del my_list[1:5]  

# Output_2: ['p', 'm']
print(my_list)

# delete entire list
del my_list       

# Error: List not defined
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'm']

NameError: name 'my_list' is not defined

### 1.6.4.2. a.append(\< obj \>)

a.append(\< obj \>) appends object \< obj \> to the end of list a:

In [124]:
a = ['a', 'b']
a.append(123)
print(a)

['a', 'b', 123]

Remember, list methods modify the target list in place. They do not return a new list:

In [126]:
a = ['a', 'b']
x = a.append(123)
print(x)
print(a)

None
['a', 'b', 123]

Remember that when the + operator is used to concatenate to a list, if the target operand is an iterable, then its elements are broken out and appended to the list individually:

In [127]:
a = ['a', 'b']
print(a + [1, 2, 3])

['a', 'b', 1, 2, 3]

The .append() method does not work that way! If an iterable is appended to a list with .append(), it is added as a single object:

In [128]:
a = ['a', 'b']
a.append([1, 2, 3])
print(a)

['a', 'b', [1, 2, 3]]

Thus, with .append(), you can append a string as a single entity:

In [129]:
a = ['a', 'b']
a.append('ali')
print(a)

['a', 'b', 'ali']

In [133]:
mylist_1 = []
mylist_1.append('this')
print(mylist_1)
mylist_1.append('that')
print(mylist_1)

['this']
['this', 'that']

In [135]:
thislist = ["apple", "banana", "cherry"]
thislist.append("orange")
print(thislist)

['apple', 'banana', 'cherry', 'orange']

In [138]:
odd = [1, 3, 5]
odd.append(7)
print(odd)

[1, 3, 5, 7]

### 1.6.4.3. a.extend(\< iterable \>)

Yes, this is probably what you think it is. .extend() also adds to the end of a list, but the argument is expected to be an iterable. The items in <iterable> are added individually:

In [136]:
a = ['a', 'b']
a.extend([1, 2, 3])
print(a)

['a', 'b', 1, 2, 3]

In other words, .extend() behaves like the + operator. More precisely, since it modifies the list in place, it behaves like the += operator:

In [137]:
a = ['a', 'b']
a += [1, 2, 3]
print(a)

['a', 'b', 1, 2, 3]

In [139]:
odd = [1, 3, 5]

odd.append(7)

# Output_1: [1, 3, 5, 7]
print(odd)

odd.extend([9, 11, 13])

# Output_2: [1, 3, 5, 7, 9, 11, 13]
print(odd)

[1, 3, 5, 7]
[1, 3, 5, 7, 9, 11, 13]

In [173]:
list1 = ["a", "b" , "c"]
list2 = [1, 2, 3]

list1.extend(list2)
print(list1)

['a', 'b', 'c', 1, 2, 3]

### 1.6.4.4. a.insert(\< index \>, \< obj \>)

a.insert(\< index \>, \< obj \>) inserts object \< obj \> into list a at the specified \< index \>. Following the method call, a[\< index \>] is \< obj \>, and the remaining list elements are pushed to the right:

In [141]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a.insert(3, 3.141592)
print(a[3])
print(a)

3.141592
['ali', 'ahmet', 'beril', 3.141592, 'ayşe', 'cansu', 'can']

In [143]:
odd = [1, 9]
odd.insert(1,3)
odd.insert(2,5)
odd.insert(3,7)

# Output_1: [1, 3, 5, 7, 9] 
print(odd)

[1, 3, 5, 7, 9]

In [145]:
odd = [1, 9]
odd[1:1] = [3, 5, 7]

# Output_2: [1, 3, 5, 7, 9]
print(odd)

[1, 3, 5, 7, 9]

In [148]:
mylist_1 = []
mylist_1.insert(1, 'thing')
print(mylist_1)

mylist_2 = ['this', 'that']
mylist_2.insert(2, 'thing')
print(mylist_2)

['thing']
['this', 'that', 'thing']

### 1.6.4.5. a.remove(\< obj \>)

a.remove(\< obj \>) removes object \< obj \> from list a. If \< obj \> isn’t in a, an exception is raised:

In [151]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a.remove('cansu')
print(a)

a.remove('murat')
print(a)

['ali', 'ahmet', 'beril', 'ayşe', 'can']

ValueError: list.remove(x): x not in list

In [152]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']

In [153]:
my_list = ['p','r','o','b','l','e','m']
my_list[2:3] = []
print(my_list)
my_list[2:5] = []
print(my_list)

['p', 'r', 'b', 'l', 'e', 'm']
['p', 'r', 'm']

In [158]:
mylist = ['that', 'thing', 'this']
mylist.remove('thing')
print(mylist)

['that', 'this']

### 1.6.4.6. a.pop(index=-1)

This method differs from .remove() in two ways:

1. You specify the index of the item to remove, rather than the object itself.
2. The method returns a value: the item that was removed.

a.pop() simply removes the last item in the list:

In [154]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a.pop()
print(a)
a.pop()
print(a)

['ali', 'ahmet', 'beril', 'ayşe', 'cansu']
['ali', 'ahmet', 'beril', 'ayşe']

If the optional \< index \> parameter is specified, the item at that index is removed and returned. \< index \> may be negative, as with string and list indexing:

In [156]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a.pop(1)
print(a)
a.pop(-3)
print(a)

['ali', 'beril', 'ayşe', 'cansu', 'can']
['ali', 'beril', 'cansu', 'can']

\< index \> defaults to -1, so a.pop(-1) is equivalent to a.pop().

### 1.6.4.7. a.clear()

The clear() method empties the list:

In [159]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a.clear()
print(a)

[]

In [160]:
thislist = ["apple", "banana", "cherry"]
thislist.clear()
print(thislist)

[]

In [171]:
my_list = ['p','r','o','b','l','e','m']
my_list.remove('p')

# Output_1: ['r', 'o', 'b', 'l', 'e', 'm']
print(my_list)

# Output_2: 'o'
print(my_list.pop(1))

# Output_3: ['r', 'b', 'l', 'e', 'm']
print(my_list)

# Output_4: 'm'
print(my_list.pop())

# Output_5: ['r', 'b', 'l', 'e']
print(my_list)

my_list.clear()

# Output_6: []
print(my_list)

['r', 'o', 'b', 'l', 'e', 'm']
o
['r', 'b', 'l', 'e', 'm']
m
['r', 'b', 'l', 'e']
[]

### 1.6.4.7. a.copy()

You cannot copy a list simply by typing **list2 = list1**, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method copy().

In [161]:
thislist = ["apple", "banana", "cherry"]
mylist = thislist.copy()
print(mylist)

['apple', 'banana', 'cherry']

In [172]:
thislist = ["apple", "banana", "cherry"]
mylist = list(thislist)
print(mylist)

['apple', 'banana', 'cherry']

#### 1.6.4.7.1. Names and mutable values

If we execute these assignment statements,

In [164]:
a = [1, 2, 3]
b = [1, 2, 3]
print(a, b)

[1, 2, 3] [1, 2, 3]

we know that the names a and b will refer to a list with the numbers 1, 2, and 3. But we don’t know yet whether they point to the same list.

There are two possible states:

<img src="http://www.openbookproject.net/books/bpp4awd/_images/mult_references1.png" alt="case 1" title="Case 1" />

or;

<img src="http://www.openbookproject.net/books/bpp4awd/_images/mult_references2.png" alt="case 2" title="Case 2" />

In one case, a and b refer to two different things that have the same value. In the second case, they refer to the same object.

We can test whether two names have the same value using ==:

In [165]:
a == b

True

We can test whether two names refer to the same object using the is operator:

In [166]:
a is b

False

This tells us that both a and b do not refer to the same object, and that it is the first of the two state diagrams that describes the relationship.

#### 1.6.4.7.2. Aliasing

Since variables refer to objects, if we assign one variable to another, both variables refer to the same object:

In [167]:
a = [1, 2, 3]
b = a
a is b

True

In this case, it is the second of the two state diagrams that describes the relationship between the variables.

Because the same list has two different names, a and b, we say that it is **aliased**. Since lists are mutable, changes made with one alias affect the other:

In [168]:
b[0] = 5
a

[5, 2, 3]

Although this behavior can be useful, it is sometimes unexpected or undesirable. In general, it is safer to avoid aliasing when you are working with mutable objects. Of course, for immutable objects, there’s no problem, since they can’t be changed after they are created.

#### 1.6.4.7.3. Cloning lists

If we want to modify a list and also keep a copy of the original, we need to be able to make a copy of the list itself, not just the reference. This process is sometimes called **cloning**, to avoid the ambiguity of the word copy.

The easiest way to clone a list is to use the slice operator:

In [169]:
a = [1, 2, 3]
b = a[:]
b

[1, 2, 3]

Taking any slice of a creates a new list. In this case the slice happens to consist of the whole list.

Now we are free to make changes to b without worrying about a:

In [170]:
b[0] = 5
a

[1, 2, 3]

### 1.6.4.8. a.index() and a.count()

In [174]:
my_list = [3, 8, 1, 6, 0, 8, 4]

# Output_1: 1
print(my_list.index(8))

# Output_2: 2
print(my_list.count(8))

1
2

### 1.6.4.9. a.sort(), a.reverse(), sorted() and sorted(reverse=True)

In [176]:
my_list = [3, 8, 1, 6, 0, 8, 4]

my_list.sort()

# Output_1: [0, 1, 3, 4, 6, 8, 8]
print(my_list)

my_list.reverse()

# Output_2: [8, 8, 6, 4, 3, 1, 0]
print(my_list)

[0, 1, 3, 4, 6, 8, 8]
[8, 8, 6, 4, 3, 1, 0]

In [180]:
mylist= ['this', 'thing', 'that']
mylist.sort()
print(mylist)
mylist.reverse()
print(mylist)

['that', 'thing', 'this']
['this', 'thing', 'that']

In [181]:
l = [3, 2, 5 ,4, 7, 1]
print(sorted(l))

[1, 2, 3, 4, 5, 7]

In [182]:
t = ['Mehmet', 'Veli', 'Ali']
print(sorted(t))

['Ali', 'Mehmet', 'Veli']

In [184]:
print(sorted(l, reverse = True))
print(sorted(t, reverse = True))

[7, 5, 4, 3, 2, 1]
['Veli', 'Mehmet', 'Ali']

# 1.7. Lists Are Dynamic

The last one is that lists are dynamic. You have seen many examples of this in the sections above. When items are added to a list, it grows as needed:

In [185]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a[2:2] = [1, 2, 3]
a += [3.14159]
print(a)

['ali', 'ahmet', 1, 2, 3, 'beril', 'ayşe', 'cansu', 'can', 3.14159]

Similarly, a list shrinks to accommodate the removal of items:

In [186]:
a = ['ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can']
a[2:3] = []
del a[0]
print(a)

['ahmet', 'ayşe', 'cansu', 'can']

In [251]:
L1=[10,30,50,20,40]
L1.append(100) #appends new item
print ("after append",L1)
L1.insert(2,30) #inserts new value at index
print ('after insert',L1)
c=L1.count(30)
print ('count of 30',c)
L1.extend([11,22,33])
print ('after extend', L1)

after append [10, 30, 50, 20, 40, 100]
after insert [10, 30, 30, 50, 20, 40, 100]
count of 30 2
after extend [10, 30, 30, 50, 20, 40, 100, 11, 22, 33]

In [252]:
p=L1.pop()
print ('item popped:', p)
print ('list after popping', L1)
L1.remove(100)
print ('after removing value :',L1)
L1.clear()
print ('all cleared:', L1)

item popped: 33
list after popping [10, 30, 30, 50, 20, 40, 100, 11, 22]
after removing value : [10, 30, 30, 50, 20, 40, 11, 22]
all cleared: []

In [253]:
L1=[10, 30, 30, 50, 20, 40, 11, 22]
print ('original list :', L1)
L1.reverse()
print ('after reversing:',L1)
L1.sort()
print ("sorted list: ", L1)

original list : [10, 30, 30, 50, 20, 40, 11, 22]
after reversing: [22, 11, 40, 20, 50, 30, 30, 10]
sorted list:  [10, 11, 20, 22, 30, 30, 40, 50]

## 1.7.1. Strings and lists

The **list** command takes a sequence type as an argument and creates a list out of its elements. When applied to a string, you get a list of characters.

In [187]:
print(list("Crunchy Frog"))

['C', 'r', 'u', 'n', 'c', 'h', 'y', ' ', 'F', 'r', 'o', 'g']

The **split** method invoked on a string and separates the string into a list of strings, breaking it apart whenever a substring called the delimiter occurs. The default delimiter is whitespace, which includes spaces, tabs, and newlines.

In [188]:
print("Crunchy frog covered in dark, bittersweet chocolate".split())

['Crunchy', 'frog', 'covered', 'in', 'dark,', 'bittersweet', 'chocolate']

Here we have 'o' as the delimiter.

In [189]:
print("Crunchy frog covered in dark, bittersweet chocolate".split('o'))

['Crunchy fr', 'g c', 'vered in dark, bittersweet ch', 'c', 'late']

Notice that the delimiter doesn’t appear in the list.

The **join** method does approximately the oposite of the split method. It takes a list of strings as an argument and returns a string of all the list elements *joined* together.

In [190]:
print(' '. join(['crunchy', 'raw', 'unboned', 'real', 'dead', 'frog']))

crunchy raw unboned real dead frog

The string value on which the **join** method is invoked acts as a separator that gets placed between each element in the list in the returned string.

In [191]:
print('**'.join(['crunchy', 'raw', 'unboned', 'real', 'dead', 'frog']))

crunchy**raw**unboned**real**dead**frog

The separator can also be the empty string.

In [192]:
print(''.join(['crunchy', 'raw', 'unboned', 'real', 'dead', 'frog']))

crunchyrawunbonedrealdeadfrog

In [254]:
L2=['H', 'e', 'l', 'l', 'o']
s1=str(L2)
s1

"['H', 'e', 'l', 'l', 'o']"

In [255]:
s2="".join(L2)
print ('string from list items:', s2)

string from list items: Hello

# 2. Python Tuple

* A *tuple* in Python is similar to a list. The difference between the two is that we cannot change the elements of a *tuple* once it is assigned whereas, in a list, elements can be changed.

* *Tuples* are identical to lists in all respects, except for the following properties:

    1. Tuples are defined by enclosing the elements in parentheses (()) instead of square brackets ([]).
    2. Tuples are **immutable**.

* A *tuple* can have any number of items and they may be of different types (integer, float, list, string, etc.).

In [193]:
# Empty tuple
my_tuple = ()
print(my_tuple)  # Output_1: ()

# Tuple having integers
my_tuple = (1, 2, 3)
print(my_tuple)  # Output_2: (1, 2, 3) 

# tuple with mixed datatypes
my_tuple = (1, "Hello", 3.4)
print(my_tuple)  # Output_3: (1, "Hello", 3.4)  

# nested tuple
my_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# Output_4: ("mouse", [8, 4, 6], (1, 2, 3)) 
print(my_tuple)

()
(1, 2, 3)
(1, 'Hello', 3.4)
('mouse', [8, 4, 6], (1, 2, 3))

* A tuple can also be created without using parentheses. This is known as tuple packing.

In [194]:
my_tuple = 3, 4.6, "dog"
print(my_tuple)   # Output: 3, 4.6, "dog" 

# tuple unpacking is also possible
a, b, c = my_tuple

print(a)      # 3
print(b)      # 4.6 
print(c)      # dog

(3, 4.6, 'dog')
3
4.6
dog

In [195]:
t = ('ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can')
print(t)
t[2] = 'murat'

('ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can')

TypeError: 'tuple' object does not support item assignment

Python displays the response in parentheses because it is implicitly interpreting the input as a *tuple*.

In [291]:
a = 'Python'
b = 42
a, 3.14159, b

('Python', 3.14159, 42)

In [293]:
z = (3 + 4j)
c = (4, z, "alfa", b)
print(c)

(4, (3+4j), 'alfa', 42)

There is one peculiarity regarding tuple definition that you should be aware of. There is no ambiguity when defining an empty tuple, nor one with two or more elements. Python knows you are defining a *tuple*:

In [197]:
t = ()
print(type(t))
t = (1, 2)
print(type(t))
t = (1, 2, 3, 4, 5)
print(type(t))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

But what happens when you try to define a *tuple* with one item:

In [200]:
t = (2)
print(type(t))
t = (2,)
print(type(t))
print(t[0])
print(t[-1])
print(t)

<class 'int'>
<class 'tuple'>
2
2
(2,)

In [201]:
my_tuple = ("hello")
print(type(my_tuple))  # <class 'str'>

# Creating a tuple having one element
my_tuple = ("hello",)  
print(type(my_tuple))  # <class 'tuple'> 

# Parentheses is optional
my_tuple = "hello",
print(type(my_tuple))  # <class 'tuple'>

<class 'str'>
<class 'tuple'>
<class 'tuple'>

## 2.1. Access Tuple Elements

There are various ways in which we can access the elements of a *tuple*.

### 2.1.1. Indexing

We can use the index operator [] to access an item in a tuple where the index starts from 0.

So, a tuple having 6 elements will have indices from 0 to 5. Trying to access an element outside of tuple (for example, 6, 7,...) will raise an IndexError.

The index must be an integer; so we cannot use float or other types. This will result in **TypeError**.

Likewise, nested tuples are accessed using nested indexing, as shown in the example below.

In [202]:
my_tuple = ('p','e','r','m','i','t')

print(my_tuple[0])   # 'p' 
print(my_tuple[5])   # 't'

# IndexError: list index out of range
# print(my_tuple[6])

# Index must be an integer
# TypeError: list indices must be integers, not float
# my_tuple[2.0]

# nested tuple
nested_tuple = ("mouse", [8, 4, 6], (1, 2, 3))

# nested index
print(nested_tuple[0][3])       # 's'
print(nested_tuple[1][1])       # 4

p
t
s
4

In [204]:
t = ('ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can')
print(t)
print(t[0])
print(t[-1])
print(t[1::2])
print(t[::-1])

('ali', 'ahmet', 'beril', 'ayşe', 'cansu', 'can')
ali
can
('ahmet', 'ayşe', 'can')
('can', 'cansu', 'ayşe', 'beril', 'ahmet', 'ali')

## 2.1.2. Negative Indexing

Python allows negative indexing for its sequences.

The index of -1 refers to the last item, -2 to the second last item and so on.

In [205]:
my_tuple = ('P','y','t','h','o','n')

# Output_1: 'n'
print(my_tuple[-1])

# Output_2: 'P'
print(my_tuple[-6])

n
P

## 2.1.3. Slicing

We can access a range of items in a tuple by using the slicing operator - colon ":".

In [208]:
my_tuple = ('A','C','M','1','1','4','P','y','t', 'h', 'o', 'n')

# elements 2nd to 6th
# Output_1: ('C', 'M, '1', '1', '4')
print(my_tuple[1:6])

# elements beginning to 3rd
# Output_2: ('A', 'C', 'M')
print(my_tuple[:-9])

# elements 8th to end
# Output_3: ('y', 't', 'h', 'o', 'n')
print(my_tuple[7:])

# elements beginning to end
# Output_4: ('A','C','M','1','1','4','P','y','t', 'h', 'o', 'n')
print(my_tuple[:])

('C', 'M', '1', '1', '4')
('A', 'C', 'M')
('y', 't', 'h', 'o', 'n')
('A', 'C', 'M', '1', '1', '4', 'P', 'y', 't', 'h', 'o', 'n')

## 2.2.  Changing a Tuple

Unlike lists, tuples are immutable.

This means that elements of a tuple cannot be changed once it has been assigned. But, if the element is itself a mutable datatype like list, its nested items can be changed.

We can also assign a tuple to different values (reassignment).

In [209]:
my_tuple = (4, 2, 3, [6, 5])


# TypeError: 'tuple' object does not support item assignment
# my_tuple[1] = 9

# However, item of mutable element can be changed
my_tuple[3][0] = 9    # Output_1: (4, 2, 3, [9, 5])
print(my_tuple)

# Tuples can be reassigned
my_tuple = ('A','C','M','1','1','4','P','y','t', 'h', 'o', 'n')

# Output_2: ('A','C','M','1','1','4','P','y','t', 'h', 'o', 'n')
print(my_tuple)

(4, 2, 3, [9, 5])
('A', 'C', 'M', '1', '1', '4', 'P', 'y', 't', 'h', 'o', 'n')

We can use + operator to combine two tuples. This is also called *concatenation*.

We can also repeat the elements in a *tuple* for a given number of times using the * operator.

Both + and * operations result in a *new tuple*.

In [213]:
# Concatenation
# Output_1: (1, 2, 3, 4, 5, 6, 7, 8)
print((1, 2, 3, 4) + (5, 6, 7, 8))

# Python
# Output_2: ('Python', 'Python', 'Python', 'Python', 'Python')
print(("Python",) * 3 + ('Python',) * 2)

(1, 2, 3, 4, 5, 6, 7, 8)
('Python', 'Python', 'Python', 'Python', 'Python')

## 2.3. Deleting a Tuple

As discussed above, we cannot change the elements in a tuple. That also means we cannot delete or remove items from a tuple.

But deleting a tuple entirely is possible using the keyword **del**.

In [214]:
my_tuple = ('A','C','M','1','1','4','P','y','t', 'h', 'o', 'n')

# can't delete items
# TypeError: 'tuple' object doesn't support item deletion
# del my_tuple[3]

# Can delete an entire tuple
del my_tuple

# NameError: name 'my_tuple' is not defined
print(my_tuple)

NameError: name 'my_tuple' is not defined

## 2.4. Tuple Methods

In [222]:
my_tuple_1 = ('P','y','t','h','o', 'n')
my_tuple_2 = (1, 2, 2, 4, 5, 4, 2, 6, 5, 7)

print(my_tuple_1.count('P'))   # Output_1: 1
print(my_tuple_2.count(4))     # Output_2: 2
print(my_tuple_1.index('h'))   # Output_3: 3
print(my_tuple_2.index(5))     # Output_3: 4

1
2
3
4

In [249]:
L1=[10,30,50,20,40]
T1=(10,50,30,40,20)
print (len(L1))
print (len(T1))
print ('max of L1', max(L1))
print ('max of T1', max(T1))
print ('min of L1', min(L1))
print ('min of T1', min(T1))
print ('sum of L1', sum(L1))
print ('sum of T1', sum(T1))
print ('L1 in sorted order', sorted(L1))
print ('T1 in sorted order', sorted(T1))

5
5
max of L1 50
max of T1 50
min of L1 10
min of T1 10
sum of L1 150
sum of T1 150
L1 in sorted order [10, 20, 30, 40, 50]
T1 in sorted order [10, 20, 30, 40, 50]

In [250]:
L2=['pen', 'book','computer', 'table', 'file']
T2=('pen', 'book','computer', 'table', 'file')
print ('max of L2', max(L2))
print ('max of T2', max(T2))
print ('min of L2', min(L2))
print ('min of T2', min(T2))

max of L2 table
max of T2 table
min of L2 book
min of T2 book

## 2.5. Tuple Membership Test

We can test if an item exists in a tuple or not, using the keyword in.

In [223]:
my_tuple = ('P','y','t','h','o', 'n')

# In operation
# Output_1: True
print('y' in my_tuple)

# Output_2: False
print('m' in my_tuple)

# Not in operation
# Output_3: True
print('L' not in my_tuple)

True
False
True

## 2.7. Tuple Assignment, Packing, and Unpacking

As you have already seen above, a literal tuple containing several items can be assigned to a single object:

In [225]:
t = ('foo', 'bar', 'baz', 'qux')
t

('foo', 'bar', 'baz', 'qux')

When this occurs, it is as though the items in the tuple have been “packed” into the object:

<img src="https://files.realpython.com/media/t.feb20d10b75d.png" alt="Packing" title="Tuple Packing" />

In [226]:
print(t)
print(t[0])
print(t[-1])

('foo', 'bar', 'baz', 'qux')
foo
qux

If that “packed” object is subsequently assigned to a *new tuple*, the individual items are “unpacked” into the objects in the *tuple*:

<img src="https://files.realpython.com/media/t.629d7402a412.png" alt="Unpacking" title="Tuple Unpacking" />

In [227]:
(s1, s2, s3, s4) = t
print(s1)
print(s2)
print(s3)
print(s4)

foo
bar
baz
qux

When unpacking, the number of variables on the left must match the number of values in the tuple:

In [228]:
(s1, s2, s3) = t

ValueError: too many values to unpack (expected 3)

In [229]:
(s1, s2, s3, s4, s5) = t

ValueError: not enough values to unpack (expected 5, got 4)

Packing and unpacking can be combined into one statement to make a compound assignment:

In [230]:
(s1, s2, s3, s4) = ('foo', 'bar', 'baz', 'qux')
print(s1)
print(s2)
print(s3)
print(s4)

foo
bar
baz
qux

Again, the number of elements in the tuple on the left of the assignment must equal the number on the right:

In [231]:
(s1, s2, s3, s4, s5) = ('foo', 'bar', 'baz', 'qux')

ValueError: not enough values to unpack (expected 5, got 4)

In assignments like this and a small handful of other situations, Python allows the parentheses that are usually used for denoting a tuple to be left out:

In [238]:
t = 1, 2, 3
print(t)

x1, x2, x3 = t
x1, x2, x3

(1, 2, 3)

(1, 2, 3)

In [239]:
x1, x2, x3 = 4, 5, 6
x1, x2, x3

(4, 5, 6)

In [240]:
t = 2,
t

(2,)

Tuple assignment allows for a curious bit of idiomatic Python. Frequently when programming, you have two variables whose values you need to swap. In most programming languages, it is necessary to store one of the values in a temporary variable while the swap occurs like this:

In [241]:
a = 'ACM'
b = '114'
a, b

('ACM', '114')

In [242]:
# We need to define a temp variable to accomplish the swap.
temp = a
a = b
b = temp
a,b

('114', 'ACM')

In Python, the swap can be done with a single tuple assignment:

In [243]:
a = 'ACM'
b = '114'
a, b

('ACM', '114')

In [248]:
a = 'ACM'
b = '114'
a, b = b, a
a, b

('114', 'ACM')

In [294]:
z = (3 + 4j)
print(z)
r, i = z.real, z.imag
r, i

(3+4j)

(3.0, 4.0)

In [296]:
d, m = divmod(22, 7)
d, m

(3, 1)

# 3. Conversion functions (between lists, tuples and strings using list(), tuple() and str() constructors)

In [256]:
L1=[10, 30, 30, 50, 20, 40, 11, 22]
T1=tuple(L1)
print (T1)

(10, 30, 30, 50, 20, 40, 11, 22)

In [257]:
T1=(10,50,30,40,20)
L1=list(T1)
print (L1)

[10, 50, 30, 40, 20]

In [258]:
s1="Hello"
L2=list(s1)
print ('string to list:', L2)
T2=tuple(s1)
print ('string to tuple', T2)

string to list: ['H', 'e', 'l', 'l', 'o']
string to tuple ('H', 'e', 'l', 'l', 'o')

In [259]:
s1=str(L1)
s2=str(T1)
print ('list to string',s1)
print ('tuple to string',s2)

list to string [10, 50, 30, 40, 20]
tuple to string (10, 50, 30, 40, 20)

# 4. Advantages of Tuple over List

Since tuples are quite similar to lists, both of them are used in similar situations as well.

However, there are certain advantages of implementing a tuple over a list. Below listed are some of the main advantages:

* We generally use tuple for heterogeneous (different) datatypes and list for homogeneous (similar) datatypes.
* Since tuples are immutable, iterating through tuple is faster than with list. So there is a slight performance boost.
* Tuples that contain immutable elements can be used as a key for a dictionary. With lists, this is not possible.
* If you have data that doesn't change, implementing it as tuple will guarantee that it remains write-protected.

# 5. Additional Applications

## 5.1. The dir() function and docstrings

In [261]:
print(dir(str))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

In [262]:
print(dir(list))

['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [263]:
print(dir(tuple))

['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'count', 'index']

In [264]:
print(str.count.__doc__)

S.count(sub[, start[, end]]) -> int

Return the number of non-overlapping occurrences of substring sub in
string S[start:end].  Optional arguments start and end are
interpreted as in slice notation.

In [265]:
print(tuple.count.__doc__)

Return number of occurrences of value.

In [266]:
print(list.count.__doc__)

Return number of occurrences of value.

In [267]:
print(str.index.__doc__)

S.index(sub[, start[, end]]) -> int

Return the lowest index in S where substring sub is found,
such that sub is contained within S[start:end].  Optional
arguments start and end are interpreted as in slice notation.

Raises ValueError when the substring is not found.

In [268]:
print(tuple.index.__doc__)

Return first index of value.

Raises ValueError if the value is not present.

In [269]:
print(list.index.__doc__)

Return first index of value.

Raises ValueError if the value is not present.

In [277]:
print(list.append.__doc__)

Append object to the end of the list.

In [278]:
print(list.remove.__doc__)

Remove first occurrence of value.

Raises ValueError if the value is not present.

In [283]:
print(str.split.__doc__)

Return a list of the words in the string, using sep as the delimiter string.

  sep
    The delimiter according which to split the string.
    None (the default value) means split according to any whitespace,
    and discard empty strings from the result.
  maxsplit
    Maximum number of splits to do.
    -1 (the default value) means no limit.

In [284]:
print(str.join.__doc__)

Concatenate any number of strings.

The string whose method is called is inserted in between each given string.
The result is returned as a new string.

Example: '.'.join(['ab', 'pq', 'rs']) -> 'ab.pq.rs'

In [285]:
print(str.replace.__doc__)

Return a copy with all occurrences of substring old replaced by new.

  count
    Maximum number of occurrences to replace.
    -1 (the default value) means replace all occurrences.

If the optional argument count is given, only the first count occurrences are
replaced.

## 5.2. range() function

Range is a function to build sequences of integers:

In [297]:
range(4)

range(0, 4)

In [298]:
l = list(range(4))
l

[0, 1, 2, 3]

In [299]:
list(range(3, 7))

[3, 4, 5, 6]

In [300]:
list(range(3, 10, 2))

[3, 5, 7, 9]

In [301]:
l = list(range(20))
l[1:18]  
# try also 
#l[1:18:3]
#l[1::3]
#l[:5:3]
#l[::3]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [302]:
l = list(range(20))
l[18:3:-3]  
# try also 
#l[17:2:-3]
#l[::-1]

[18, 15, 12, 9, 6]

In [309]:
l = list(range(5))
print(l)
r = ['a', 'b', 'c', 'd']
print(r)
r[1:3] = l[:-1]  # len(r[1:3]) == len(l[:-1]), OK
r

[0, 1, 2, 3, 4]
['a', 'b', 'c', 'd']

['a', 0, 1, 2, 3, 'd']

In [310]:
print(l[::2])
print(r[::3])
r[::3] = l[::2]  # len(r[::2]) != len(l[::2]), KO!!!

[0, 2, 4]
['a', 2]

ValueError: attempt to assign sequence of size 3 to extended slice of size 2

In [311]:
 r[::2] = l[::2] # len(r[::2]) == len(l[::2]), ok
r

[0, 0, 2, 2, 4, 'd']

In [312]:
 l = list(range(11))
del l[::3]
l

[1, 2, 4, 5, 7, 8, 10]

In [313]:
del l[::2]
l

[2, 5, 8]