# Dictionaries in Python

Python provides another composite data type called a *dictionary*, which is similar to a *list* in that it is a collection of **objects**.

Dictionaries and lists share the following characteristics:
* Both are mutable.
* Both are dynamic. They can grow and shrink as needed.
* Both can be nested. A list can contain another list. A dictionary can contain another dictionary. A dictionary can also contain a list, and vice versa.

Dictionaries differ from lists primarily in how elements are accessed:
* List elements are accessed by their position in the list, via indexing.
* Dictionary elements are accessed via keys.

Dictionaries are Python’s implementation of a data structure that is more generally known as an associative array. A dictionary consists of a collection of key-value pairs. Each key-value pair maps the key to its associated value.

You can define a dictionary by enclosing a comma-separated list of key-value pairs in curly braces ({ }). A colon (:) separates each key from its associated value:

In [32]:
NBA_team = {
    'Orlando' : 'Magic',
    'Boston'   : 'Celtics',
    'Minnesota': 'Timberwolves',
    'Milwaukee': 'Bucks',
    'Miami'  : 'Heat',
    'Golden State' : 'Warriors',
    'Toronto' : 'Raptors'
    }
print(NBA_team)
print(NBA_team['Boston'], NBA_team['Toronto'])
print(type(NBA_team))

{'Orlando': 'Magic', 'Boston': 'Celtics', 'Minnesota': 'Timberwolves', 'Milwaukee': 'Bucks', 'Miami': 'Heat', 'Golden State': 'Warriors', 'Toronto': 'Raptors'}
Celtics Raptors
<class 'dict'>

In [34]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
print((Dict['Tiffany']))
print(type(Dict))

22
<class 'dict'>

In [36]:
eng2sp = {}
type(eng2sp)
eng2sp['one'] = 'uno'
eng2sp['two'] = 'dos'
eng2sp['three'] = 'tres'
print(eng2sp)
print(eng2sp['two'])
print(type(eng2sp))

{'one': 'uno', 'two': 'dos', 'three': 'tres'}
dos
<class 'dict'>

In [6]:
eng2sp = {'one': 'uno', 'two': 'dos', 'three': 'tres'}
print(eng2sp)
print(eng2sp['two'])

{'one': 'uno', 'two': 'dos', 'three': 'tres'}

NBA_team can then also be defined this way:

In [33]:
NBA_team = dict([
    ('Orlando', 'Magic'),
    ('Boston', 'Celtics'),
    ('Minnesota', 'Timberwolves'),
    ('Milwaukee', 'Bucks'),
    ('Miami', 'Heat'),
    ('Golden State', 'Warriors'),
    ('Toronto', 'Raptors')
    ])
print(NBA_team)
print(type(NBA_team))

{'Orlando': 'Magic', 'Boston': 'Celtics', 'Minnesota': 'Timberwolves', 'Milwaukee': 'Bucks', 'Miami': 'Heat', 'Golden State': 'Warriors', 'Toronto': 'Raptors'}
<class 'dict'>

If the key values are simple strings, they can be specified as keyword arguments. So here is yet another way to define NBA_team:

In [26]:
NBA_team = dict(
        Orlando='Magic',
        Boston='Celtics',
        Minnesota='Timberwolves',
        Milwaukee='Bucks',
        Miami='Heat',
        GoldenState='Warriors',
        Toronto='Raptors'
        )
print(NBA_team)

{'Orlando': 'Magic', 'Boston': 'Celtics', 'Minnesota': 'Timberwolves', 'Milwaukee': 'Bucks', 'Miami': 'Heat', 'GoldenState': 'Warriors', 'Toronto': 'Raptors'}

In [27]:
# Creating a Dictionary  
# with Integer Keys 
Dict = {1: 'ACM', 2: '114', 3: 'Python'} 
print("\nDictionary with the use of Integer Keys: ") 
print(Dict) 
  
# Creating a Dictionary  
# with Mixed keys 
Dict = {'Name': 'Cihan', 1: [1, 2, 3, 4]} 
print("\nDictionary with the use of Mixed Keys: ") 
print(Dict)

Dictionary with the use of Integer Keys:
{1: 'ACM', 2: '114', 3: 'Python'}

Dictionary with the use of Mixed Keys:
{'Name': 'Cihan', 1: [1, 2, 3, 4]}

In [28]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Creating a Dictionary 
# with dict() method 
Dict = dict({1: 'ACM', 2: '114', 3:'Python'}) 
print("\nDictionary with the use of dict(): ") 
print(Dict) 
  
# Creating a Dictionary 
# with each item as a Pair 
Dict = dict([(1, 'ACM 114'), (2, 'Python')]) 
print("\nDictionary with each item as a pair: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary with the use of dict():
{1: 'ACM', 2: '114', 3: 'Python'}

Dictionary with each item as a pair:
{1: 'ACM 114', 2: 'Python'}

In [30]:
# Creating a Nested Dictionary  
# as shown in the below image 
Dict = {1: 'ACM', 2: '114',  
        3:{'A' : 'Welcome', 'B' : 'To', 'C' : 'Python', 'D' : 'Programming'}} 
print(Dict)

{1: 'ACM', 2: '114', 3: {'A': 'Welcome', 'B': 'To', 'C': 'Python', 'D': 'Programming'}}

The entries in the dictionary display in the order they were defined. But that is irrelevant when it comes to retrieving them. Dictionary elements are not accessed by numerical index:

In [37]:
print(NBA_team[1])

KeyError: 1

In [38]:
inventory = {'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}
print(inventory)
print(inventory['mangos'])

{'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 217}

KeyError: 'mangos'

Of course, dictionary elements must be accessible somehow. If you don’t get them by index, then how do you get them?

A value is retrieved from a dictionary by specifying its corresponding key in square brackets ([ ]):

In [39]:
print(NBA_team['Minnesota'])
print(NBA_team['Toronto'])

Timberwolves
Raptors

If you refer to a key that is not in the dictionary, Python raises an exception:

In [41]:
print(NBA_team['Charlotte'])

KeyError: 'Charlotte'

In [44]:
# Python program to demonstrate   
# accessing a element from a Dictionary  
  
# Creating a Dictionary  
Dict = {1: 'ACM 114', 'name': 'Cihan', 3: 'Python'} 
  
# accessing a element using key 
print("Accessing a element using key:") 
print(Dict['name']) 
  
# accessing a element using key 
print("Accessing a element using key:") 
print(Dict[1])
print("Accessing a element using key:") 
print(Dict[3])

Accessing a element using key:
Cihan
Accessing a element using key:
ACM 114
Accessing a element using key:
Python

In [45]:
# Creating a Dictionary 
Dict = {'Dict1': {1: 'ACM 114'}, 
        'Dict2': {'Name': 'Python'}} 
  
# Accessing element using key 
print(Dict['Dict1']) 
print(Dict['Dict1'][1]) 
print(Dict['Dict2']['Name'])

{1: 'ACM 114'}
ACM 114
Python

Adding an entry to an existing dictionary is simply a matter of assigning a new key and value:

In [47]:
NBA_team['Oklohoma City'] = 'Thunder'
print(NBA_team)

{'Orlando': 'Magic', 'Boston': 'Celtics', 'Minnesota': 'Timberwolves', 'Milwaukee': 'Bucks', 'Miami': 'Heat', 'Golden State': 'Warriors', 'Toronto': 'Raptors', 'Oklohoma City': 'Thunder'}

If you want to update an entry, you can just assign a new value to an existing key:

In [48]:
NBA_team['Chicago'] = 'Bulls'
print(NBA_team)

{'Orlando': 'Magic', 'Boston': 'Celtics', 'Minnesota': 'Timberwolves', 'Milwaukee': 'Bucks', 'Miami': 'Heat', 'Golden State': 'Warriors', 'Toronto': 'Raptors', 'Oklohoma City': 'Thunder', 'Chicago': 'Bulls'}

In [49]:
# Creating an empty Dictionary 
Dict = {} 
print("Empty Dictionary: ") 
print(Dict) 
  
# Adding elements one at a time 
Dict[0] = 'ACM'
Dict[2] = '114'
Dict[3] = 'Python'
print("\nDictionary after adding 3 elements: ") 
print(Dict) 
  
# Adding set of values  
# to a single Key 
Dict['Value_set'] = 2, 3, 4
print("\nDictionary after adding 3 elements: ") 
print(Dict) 
  
# Updating existing Key's Value 
Dict[2] = 'Welcome'
print("\nUpdated key value: ") 
print(Dict) 
  
# Adding Nested Key value to Dictionary 
Dict[5] = {'Nested' :{'1' : 'Music', '2' : 'Theatre'}} 
print("\nAdding a Nested Key: ") 
print(Dict)

Empty Dictionary:
{}

Dictionary after adding 3 elements:
{0: 'ACM', 2: '114', 3: 'Python'}

Dictionary after adding 3 elements:
{0: 'ACM', 2: '114', 3: 'Python', 'Value_set': (2, 3, 4)}

Updated key value:
{0: 'ACM', 2: 'Welcome', 3: 'Python', 'Value_set': (2, 3, 4)}

Adding a Nested Key:
{0: 'ACM', 2: 'Welcome', 3: 'Python', 'Value_set': (2, 3, 4), 5: {'Nested': {'1': 'Music', '2': 'Theatre'}}}

To delete an entry, use the del statement, specifying the key to delete:

In [50]:
del NBA_team['Miami']
print(NBA_team)

{'Orlando': 'Magic', 'Boston': 'Celtics', 'Minnesota': 'Timberwolves', 'Milwaukee': 'Bucks', 'Golden State': 'Warriors', 'Toronto': 'Raptors', 'Oklohoma City': 'Thunder', 'Chicago': 'Bulls'}

In [85]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}	
del Dict ['Charlie']
print(Dict)

{'Tim': 18, 'Tiffany': 22, 'Robert': 25}

In [52]:
inventory['pears'] = 0
print(inventory)

{'apples': 430, 'bananas': 312, 'oranges': 525, 'pears': 0}

**Note**- *del Dict* will delete the entire dictionary and hence printing it after deletion will raise an **Error**.

In [51]:
# Initial Dictionary 
Dict = { 5 : 'Welcome', 6 : 'To', 7 : 'Programming', 
        'A' : {1 : 'ACM', 2 : '114', 3 : 'Python'}, 
        'B' : {1 : 'Coding', 2 : 'Life'}} 
print("Initial Dictionary: ") 
print(Dict) 
  
# Deleting a Key value 
del Dict[6] 
print("\nDeleting a specific key: ") 
print(Dict) 
  
# Deleting a Key from 
# Nested Dictionary 
del Dict['A'][2] 
print("\nDeleting a key from Nested Dictionary: ") 
print(Dict)

Initial Dictionary:
{5: 'Welcome', 6: 'To', 7: 'Programming', 'A': {1: 'ACM', 2: '114', 3: 'Python'}, 'B': {1: 'Coding', 2: 'Life'}}

Deleting a specific key:
{5: 'Welcome', 7: 'Programming', 'A': {1: 'ACM', 2: '114', 3: 'Python'}, 'B': {1: 'Coding', 2: 'Life'}}

Deleting a key from Nested Dictionary:
{5: 'Welcome', 7: 'Programming', 'A': {1: 'ACM', 3: 'Python'}, 'B': {1: 'Coding', 2: 'Life'}}

In [53]:
del inventory['pears']
print(inventory)

{'apples': 430, 'bananas': 312, 'oranges': 525}

You may have noticed that the interpreter raises the same exception, *KeyError*, when a dictionary is accessed with either an undefined key or by a numeric index:

In [55]:
print(NBA_team['Detroit'])

KeyError: 'Detroit'

In [56]:
print(NBA_team[3])

KeyError: 3

In fact, it’s the same error. In the latter case, [1] looks like a numerical index, but it isn’t.

You will see later in this tutorial that an object of any immutable type can be used as a dictionary key. Accordingly, there is no reason you can’t use integers:

In [57]:
d = {0: 'a', 1: 'b', 2: 'c', 3: 'd'}
print(d)
print(d[0])
print(d[2])

{0: 'a', 1: 'b', 2: 'c', 3: 'd'}
a
c

In the expressions NBA_team[1], d[0], and d[2], the numbers in square brackets appear as though they might be indices. But they have nothing to do with the order of the items in the dictionary. Python is interpreting them as dictionary keys. If you define this same dictionary in reverse order, you still get the same values using the same keys:

In [58]:
d = {3: 'd', 2: 'c', 1: 'b', 0: 'a'}
print(d)
print(d[0])
print(d[2])

{3: 'd', 2: 'c', 1: 'b', 0: 'a'}
a
c

The syntax may look similar, but you can’t treat a dictionary like a list:

In [59]:
print(type(d))
print(d[-1])

<class 'dict'>

KeyError: -1

In [60]:
print(d[0:2])

TypeError: unhashable type: 'slice'

In [61]:
d.append('e')

AttributeError: 'dict' object has no attribute 'append'

You can start by creating an empty dictionary, which is specified by empty curly braces. Then you can add new keys and values one at a time:

In [63]:
person = {}
print(type(person))

person['fname'] = 'Joe'
person['lname'] = 'Fonebone'
person['age'] = 51
person['spouse'] = 'Edna'
person['children'] = ['Ralph', 'Betty', 'Joey']
person['pets'] = {'dog': 'Fido', 'cat': 'Sox'}
print(person)
print(person['fname'])
print(person['age'])
print(person['children'])

<class 'dict'>
{'fname': 'Joe', 'lname': 'Fonebone', 'age': 51, 'spouse': 'Edna', 'children': ['Ralph', 'Betty', 'Joey'], 'pets': {'dog': 'Fido', 'cat': 'Sox'}}
Joe
51
['Ralph', 'Betty', 'Joey']

Retrieving the values in the sublist or subdictionary requires an additional index or key:

In [64]:
print(person['children'][-1])
print(person['pets']['cat'])

Joey
Sox

Just as the values in a dictionary don’t need to be of the same type, the keys don’t either:

In [66]:
foo = {42: 'aaa', 2.78: 'bbb', True: 'ccc'}
print(foo)
print(foo[42])
print(foo[2.78])
print(foo[True])

{42: 'aaa', 2.78: 'bbb', True: 'ccc'}
aaa
bbb
ccc

In [67]:
atomic_number = {'H': 1, 'He': 2, 'C': 6, 'Fe': 26}
print(atomic_number)
print(atomic_number['C'])

{'H': 1, 'He': 2, 'C': 6, 'Fe': 26}
6

They are not necessarily homogeneous:

In [68]:
d = {}
d['alfa'] = 3
d[2.5] = 'xyz'
d[3+4j] = [3, 4, 5]
d[(1,2,3)] = { 'x': 2, 'y': 3, 'z': 1 }
print(d)

{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}

You can even use built-in objects like types and functions:

In [69]:
d = {int: 1, float: 2, bool: 3}
print(d)
print(d[float])
d = {bin: 1, hex: 2, oct: 3}
print(d[oct])

{<class 'int'>: 1, <class 'float'>: 2, <class 'bool'>: 3}
2
3

However, there are a couple restrictions that dictionary keys must abide by.

First, a given key can appear in a dictionary only once. Duplicate keys are not allowed. A dictionary maps each key to a corresponding value, so it doesn’t make sense to map a particular key more than once.

You saw above that when you assign a value to an already existing dictionary key, it does not add the key a second time, but replaces the existing value:

In [70]:
NBA_team = dict(
        Orlando='Magic',
        Boston='Celtics',
        Minnesota='Timberwolves',
        Milwaukee='Bucks',
        Miami='Heat',
        GoldenState='Warriors',
        Toronto='Raptors'
        )
NBA_team['Minnesota'] = 'Bulls'
print(NBA_team)

{'Orlando': 'Magic', 'Boston': 'Celtics', 'Minnesota': 'Bulls', 'Milwaukee': 'Bucks', 'Miami': 'Heat', 'GoldenState': 'Warriors', 'Toronto': 'Raptors'}

Similarly, if you specify a key a second time during the initial creation of a dictionary, the second occurrence will override the first:

In [71]:
NBA_team = dict(
        Orlando='Magic',
        Boston='Celtics',
        Minnesota='Timberwolves',
        Milwaukee='Bucks',
        Miami='Heat',
        GoldenState='Warriors',
        Toronto='Raptors'
        )
print(NBA_team)

{'Orlando': 'Magic', 'Boston': 'Celtics', 'Minnesota': 'Timberwolves', 'Milwaukee': 'Bucks', 'Miami': 'Heat', 'GoldenState': 'Warriors', 'Toronto': 'Raptors'}

Secondly, *a dictionary key* must be of a type that is **immutable**. You have already seen examples where several of the *immutable types* you are familiar with—**integer**, **float**, **string**, and **Boolean**—have served as *dictionary keys*.

A tuple can also be a dictionary key, because tuples are immutable:

In [72]:
d = {(1, 1): 'a', (1, 2): 'b', (2, 1): 'c', (2, 2): 'd'}
print(d[(1,1)])
print(d[(2,1)])

a
c

However, neither *a list* nor *another dictionary* can serve as a **dictionary key**, because lists and dictionaries are **mutable**:

In [73]:
d = {[1, 1]: 'a', [1, 2]: 'b', [2, 1]: 'c', [2, 2]: 'd'}
print(d)

TypeError: unhashable type: 'list'

By contrast, there are no restrictions on dictionary values. Literally none at all. A dictionary value can be any type of object Python supports, including mutable types like lists and dictionaries, and user-defined objects.

There is also no restriction against a particular value appearing in a dictionary multiple times:

In [74]:
d = {0: 'a', 1: 'a', 2: 'a', 3: 'a'}
print(d)
print(d[0] == d[1] == d[2])

{0: 'a', 1: 'a', 2: 'a', 3: 'a'}
True

## Operators and Built-in Functions

You have already become familiar with many of the operators and built-in functions that can be used with **strings**, **lists**, and **tuples**. Some of these work with dictionaries as well.

For example, the in and not in operators return *True* or *False* according to whether the specified operand occurs as a key in the dictionary:

In [75]:
NBA_team = dict(
        Orlando='Magic',
        Boston='Celtics',
        Minnesota='Timberwolves',
        Milwaukee='Bucks',
        Miami='Heat',
        GoldenState='Warriors',
        Toronto='Raptors'
        )
print('Boston' in NBA_team)
print('Detroit' in NBA_team)
print('Utah' not in NBA_team)
print('Sacramento' in NBA_team)

True
False
True
False

You can use the in operator together with *short-circuit evaluation* to avoid raising an **error** when trying to access a key that is not in the dictionary:

In [76]:
print(NBA_team['Utah'])

KeyError: 'Utah'

In [77]:
print('Utah' in NBA_team and NBA_team['Utah'])

False

In the second case, due to *short-circuit evaluation*, the expression NBA_team['Utah'] is not evaluated, so the *KeyError exception* does not occur.

In [81]:
print(inventory)
print('oranges' in inventory)
print('blueberries' in inventory)

{'apples': 430, 'bananas': 312, 'oranges': 525}
True
False

In [86]:
d = {}
d['alfa'] = 3
d[2.5] = 'xyz'
d[3+4j] = [3, 4, 5]
d[(1,2,3)] = { 'x': 2, 'y': 3, 'z': 1 }
print(d)
print('alfa' in d)

{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}
True

The len() function returns the number of key-value pairs in a dictionary:

In [82]:
NBA_team = dict(
        Orlando='Magic',
        Boston='Celtics',
        Minnesota='Timberwolves',
        Milwaukee='Bucks',
        Miami='Heat',
        GoldenState='Warriors',
        Toronto='Raptors'
        )
print(len(NBA_team))

7

In [88]:
print(inventory)
print(len(inventory))

{'apples': 430, 'bananas': 312, 'oranges': 525}
3

In [89]:
print(d)
print(len(d))

{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}
4

In [94]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
print("Length : %d" % len (Dict))
print("variable Type: %s" %type (Dict))
print("printable string: %s" % str (Dict))

Length : 4
variable Type: <class 'dict'>
printable string: {'Tim': 18, 'Charlie': 12, 'Tiffany': 22, 'Robert': 25}

## Built-in Dictionary Methods

As with strings and lists, there are several built-in methods that can be invoked on dictionaries. In fact, in some cases, the list and dictionary methods share the same name. (In the discussion on object-oriented programming, you will see that it is perfectly acceptable for different types to have methods with the same name.)

The following is an overview of methods that apply to dictionaries:

### d.clear()

d.clear() empties dictionary d of all key-value pairs:

In [92]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d)
d.clear()
print(d)

{'a': 10, 'b': 20, 'c': 30}
{}

In [95]:
# Creating a Dictionary 
Dict = {1: 'ACM 114', 'name': 'Cihan', 3: 'Python'} 
  
# Deleting entire Dictionary 
Dict.clear() 
print("\nDeleting Entire Dictionary: ") 
print(Dict)

Deleting Entire Dictionary:
{}

### d.get(\< key \> [, \< default \>])

The Python dictionary *.get()* method provides a convenient way of getting the value of a key from a dictionary without checking ahead of time whether the key **exists**, and without raising an **error**.

d.get(\< key \>) searches dictionary d for \< key \> and returns the associated value if it is found. If \< key \> is not found, it returns *None*:

In [96]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d.get('b'))
print(d.get('z'))

20
None

If \< key \> is not found and the optional \< default \> argument is specified, that value is returned instead of *None*:

In [97]:
print(d.get('z', -1))

-1

In [99]:
print(inventory)
print(inventory.get('blueberries', 0))
print(inventory.get('bananas', 0))

{'apples': 430, 'bananas': 312, 'oranges': 525}
0
312

In [102]:
# Creating a Dictionary  
Dict = {1: 'ACM 114', 'name': 'Cihan', 3: 'Python'} 
  
# accessing a element using get() 
# method 
print("Accessing an element using get:") 
print(Dict.get(3))
print("No accessing an element using get:")
print(Dict.get(2, 'No key no value!'))

Accessing an element using get:
Python
No accessing an element using get:
No key no value!

In [103]:
d = {}
d['alfa'] = 3
d[2.5] = 'xyz'
d[3+4j] = [3, 4, 5]
d[(1,2,3)] = { 'x': 2, 'y': 3, 'z': 1 }
print(d)
print(d.get('alfa', -1999))

{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}
3

### d.items()

*d.items()* returns *a list of tuples* containing the **key-value pairs in d**. *The first item* in **each tuple** is the **key**, and *the second item* is the **key’s value**:

In [104]:
d = {'a': 10, 'b': 20, 'c': 30}
print(d)
print(list(d.items()))
print(list(d.items())[1][0])
print(list(d.items())[1][1])

{'a': 10, 'b': 20, 'c': 30}
[('a', 10), ('b', 20), ('c', 30)]
b
20

In [106]:
Dict = {'Tim': 18,'Charlie':12,'Tiffany':22,'Robert':25}
print("Students Name: %s" % list(Dict.items()))

Students Name: [('Tim', 18), ('Charlie', 12), ('Tiffany', 22), ('Robert', 25)]

In [108]:
d = {}
d['alfa'] = 3
d[2.5] = 'xyz'
d[3+4j] = [3, 4, 5]
d[(1,2,3)] = { 'x': 2, 'y': 3, 'z': 1 }
print(d)
print(list(d.items()))

{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}
[('alfa', 3), (2.5, 'xyz'), ((3+4j), [3, 4, 5]), ((1, 2, 3), {'x': 2, 'y': 3, 'z': 1})]

### d.keys()

*d.keys()* returns a list of all keys in d:

In [109]:
dict_1= {'a': 10, 'b': 20, 'c': 30}
print(dict_1)
print(list(dict_1.keys()))

{'a': 10, 'b': 20, 'c': 30}
['a', 'b', 'c']

In [111]:
Dict = {'Ali': 22,'Mehmet':20,'Tuğçe':21,'Remzi':25, 'Arzu':23, 'Sezin':19}
Boys = {'Ali': 22,'Mehmet':20,'Remzi':25}
Girls = {'Tuğçe':21, 'Arzu':23, 'Sezin':19}
for key in list(Dict.keys()):
    print(key)
    if key in list(Boys.keys()):
        print(True)
    else:       
        print(False)

Ali
True
Mehmet
True
Tuğçe
False
Remzi
True
Arzu
False
Sezin
False

In [115]:
d = {}
d['alfa'] = 3
d[2.5] = 'xyz'
d[3+4j] = [3, 4, 5]
d[(1,2,3)] = { 'x': 2, 'y': 3, 'z': 1 }
print(d)
print(list(d.keys()))

{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}
['alfa', 2.5, (3+4j), (1, 2, 3)]

### d.values()

*d.values()* returns a list of all values in d:

In [113]:
dict_1 = {'a': 10, 'b': 20, 'c': 30}
print(dict_1)
print(list(dict_1.values()))

{'a': 10, 'b': 20, 'c': 30}
[10, 20, 30]

Any duplicate values in d will be returned as many times as they occur:

In [114]:
dict_1 = {'a': 10, 'b': 10, 'c': 10}
print(dict_1)
print(list(dict_1.values()))

{'a': 10, 'b': 10, 'c': 10}
[10, 10, 10]

In [127]:
d = {}
d['alfa'] = 3
d[2.5] = 'xyz'
d[3+4j] = [3, 4, 5]
d[(1,2,3)] = { 'x': 2, 'y': 3, 'z': 1 }
print(d)
print(list(d.values()))

{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}
[3, 'xyz', [3, 4, 5], {'x': 2, 'y': 3, 'z': 1}]

### d.pop(\< key \> [, \< default \>])

If \< key \> is present in d, *d.pop(\< key \>)* removes \< key \> and returns its associated value:

In [118]:
dict_2 = {'a': 10, 'b': 20, 'c': 30}
print(dict_2.pop('b'))
print(dict_2)

20
{'a': 10, 'c': 30}

*d.pop(\< key \>)* raises a *KeyError* exception if \< key \> is not in d:

In [119]:
dict_2 = {'a': 10, 'b': 20, 'c': 30}
print(dict_2.pop('z'))

KeyError: 'z'

If \< key \> is not in d, and the optional \< default \> argument is specified, then that value is returned, and no exception is raised:

In [121]:
dict_2 = {'a': 10, 'b': 20, 'c': 30}
print(dict_2.pop('z', -1))
print(dict_2)

-1
{'a': 10, 'b': 20, 'c': 30}

In [122]:
# Creating a Dictionary 
Dict = {1: 'Liverpool', 2: 'Chealsea', 3: 'Manchester United'} 
  
# Deleting a key  
# using pop() method 
pop_ele = Dict.pop(2) 
print('\nDictionary after deletion: ' + str(Dict)) 
print('Value associated to poped key is: ' + str(pop_ele))

Dictionary after deletion: {1: 'Liverpool', 3: 'Manchester United'}
Value associated to poped key is: Chealsea

In [129]:
print(d)
print(d.pop('alfa', -1))
print(d)

{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}
3
{2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}

### d.popitem()

*d.popitem()* removes a random, arbitrary key-value pair from d and returns it as a tuple:

In [130]:
dict_3 = {'a': 10, 'b': 20, 'c': 30}
print(dict_3.popitem())
print(dict_3)
print(dict_3.popitem())
print(dict_3)

('c', 30)
{'a': 10, 'b': 20}
('b', 20)
{'a': 10}

If d is empty, *d.popitem()* raises a *KeyError exception*:

In [131]:
dict_4 = {}
print(dict_4.popitem())

KeyError: 'popitem(): dictionary is empty'

In [133]:
# Creating Dictionary 
Dict = {1: 'Liverpool', 2: 'Chealsea', 3: 'Manchester United'} 
  
# Deleting an arbitrary key 
# using popitem() function 
pop_ele = Dict.popitem() 
print("\nDictionary after deletion: " + str(Dict)) 
print("The arbitrary pair returned is: " + str(pop_ele))
pop_ele = Dict.popitem() 
print("\nDictionary after deletion: " + str(Dict)) 
print("The arbitrary pair returned is: " + str(pop_ele))

Dictionary after deletion: {1: 'Liverpool', 2: 'Chealsea'}
The arbitrary pair returned is: (3, 'Manchester United')

Dictionary after deletion: {1: 'Liverpool'}
The arbitrary pair returned is: (2, 'Chealsea')

In [139]:
print(d)
print(d.popitem())
print(d)
print(d.popitem())
print(d)

{2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}
((1, 2, 3), {'x': 2, 'y': 3, 'z': 1})
{2.5: 'xyz', (3+4j): [3, 4, 5]}
((3+4j), [3, 4, 5])
{2.5: 'xyz'}

### d.update(\< obj \>)

If \< obj \> is a dictionary, *d.update(\< obj \>)* merges the entries from \< obj \> into d. For each key in \< obj \>:

* If the key is not present in d, the key-value pair from \< obj \> is added to d.
* If the key is already present in d, the corresponding value in d for that key is updated to the value from \< obj \>.

Here is an example showing two dictionaries merged together:

In [134]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d2 = {'b': 200, 'd': 400}
print(d1.update(d2))
print(d1)
print(d2)

None
{'a': 10, 'b': 200, 'c': 30, 'd': 400}
{'b': 200, 'd': 400}

\< obj \> may also be a sequence of key-value pairs, similar to when the *dict()* function is used to define a dictionary. For example, \< obj \> can be specified as *a list of tuples*:

In [135]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d1.update([('b', 200), ('d', 400)])
print(d1)

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

Or the values to merge can be specified as a list of keyword arguments:

In [136]:
d1 = {'a': 10, 'b': 20, 'c': 30}
d1.update(b=200, d=400)
print(d1)

{'a': 10, 'b': 200, 'c': 30, 'd': 400}

In [137]:
Dict = {'Ali': 22,'Mehmet':20,'Tuğçe':21,'Remzi':25, 'Arzu':23, 'Sezin':19}
Dict.update({"Barış":24})
print(Dict)

{'Ali': 22, 'Mehmet': 20, 'Tuğçe': 21, 'Remzi': 25, 'Arzu': 23, 'Sezin': 19, 'Barış': 24}

In [141]:
d_1 = dict(a=1, b=2, c=3, d=4)
d_2 = {1: 1.0, 2: 2.0}
print(d_1.update(d_2))
print(d_1)

None
{'a': 1, 'b': 2, 'c': 3, 'd': 4, 1: 1.0, 2: 2.0}

### d.setdefault(\< obj \>)

In [140]:
d = {}
d['alfa'] = 3
d[2.5] = 'xyz'
d[3+4j] = [3, 4, 5]
d[(1,2,3)] = { 'x': 2, 'y': 3, 'z': 1 }
print(d)
print(d.setdefault('alfa', -1999))
print(d.setdefault('beta', -1999))
print(d)

{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}}
3
-1999
{'alfa': 3, 2.5: 'xyz', (3+4j): [3, 4, 5], (1, 2, 3): {'x': 2, 'y': 3, 'z': 1}, 'beta': -1999}

### d.copy() - Aliasing and copying

You can also copy the entire dictionary to new dictionary. For example, here we have copied our original dictionary to new dictionary name "Boys" and "Girls".

In [142]:
Dict = {'Ali': 22,'Mehmet':20,'Tuğçe':21,'Remzi':25, 'Arzu':23, 'Sezin':19}
Boys = {'Ali': 22,'Mehmet':20,'Remzi':25}
Girls = {'Tuğçe':21, 'Arzu':23, 'Sezin':19}
studentX=Boys.copy()
studentY=Girls.copy()
print(studentX)
print(studentY)

{'Ali': 22, 'Mehmet': 20, 'Remzi': 25}
{'Tuğçe': 21, 'Arzu': 23, 'Sezin': 19}

Because dictionaries are mutable, you need to be aware of aliasing. Whenever two variables refer to the same object, changes to one affect the other.

If you want to modify a dictionary and keep a copy of the original, use the copy method. For example, opposites is a dictionary that contains pairs of opposites:

In [143]:
opposites = {'up': 'down', 'right': 'wrong', 'true': 'false'}
an_alias = opposites
a_copy = opposites.copy()
print(an_alias)
print(a_copy)

{'up': 'down', 'right': 'wrong', 'true': 'false'}
{'up': 'down', 'right': 'wrong', 'true': 'false'}

*an_alias* and opposites refer to the same object; *a_copy* refers to a fresh copy of the same dictionary. If we modify alias, opposites is also changed:

In [145]:
an_alias['right'] = 'left'
print(opposites['right'])
print(an_alias)

left
{'up': 'down', 'right': 'left', 'true': 'false'}

If we modify *a_copy*, opposites is unchanged:

In [146]:
a_copy['right'] = 'privilege'
print(opposites['right'])
print(a_copy)

left
{'up': 'down', 'right': 'privilege', 'true': 'false'}

### sort() and sorted()

In [148]:
Dict = {'Ali': 22,'Mehmet':20,'Tuğçe':21,'Remzi':25, 'Arzu':23, 'Sezin':19}
Boys = {'Ali': 22,'Mehmet':20,'Remzi':25}
Girls = {'Tuğçe':21, 'Arzu':23, 'Sezin':19}
Students = list(Dict.keys())
Students.sort()
for S in Students:
      print(": ".join((S,str(Dict[S]))))

Ali: 22
Arzu: 23
Mehmet: 20
Remzi: 25
Sezin: 19
Tuğçe: 21

In [164]:
print(inventory)
print(sorted(inventory))
list_1 = list(inventory)
print(list_1)
list_1.sort(reverse=True)
print(list_1)
print(sorted(inventory, reverse=True))
inventory.sort(reverse=True)

{'apples': 430, 'bananas': 312, 'oranges': 525}
['apples', 'bananas', 'oranges']
['apples', 'bananas', 'oranges']
['oranges', 'bananas', 'apples']
['oranges', 'bananas', 'apples']

AttributeError: 'dict' object has no attribute 'sort'

# Sets in Python

Perhaps you recall learning about sets and set theory at some point in your mathematical education. Maybe you even remember Venn diagrams:

In mathematics, a rigorous definition of a set can be abstract and difficult to grasp. Practically though, a set can be thought of simply as a well-defined collection of distinct objects, typically called elements or members.

Grouping objects into a set can be useful in programming as well, and Python provides a built-in set type to do so. Sets are distinguished from other object types by the unique operations that can be performed on them.

<img src="https://files.realpython.com/media/t.8b7abb515ae8.png" alt="Venn diagrams" title="Venn diagram"/>

Python’s built-in *set* type has the following characteristics:

* Sets are unordered.
* Set elements are unique. Duplicate elements are not allowed.
* A set itself may be modified, but the elements contained in the set must be of an immutable type.

Let’s see what all that means, and how you can work with sets in Python.

A set can be created in two ways. First, you can define a set with the built-in set() function:

x = set(<iter>)

In this case, the argument \< iter \> is an iterable—again, for the moment, think list or tuple—that generates the list of objects to be included in the set. This is analogous to the \< iter \> argument given to the *.extend()* list method:

In [165]:
x = set(['ali', 'ahmet', 'cansu', 'kerem', 'simge'])
print(x)
x = set(('ali', 'ahmet', 'cansu', 'kerem', 'simge'))
print(x)

{'ali', 'kerem', 'ahmet', 'simge', 'cansu'}
{'ali', 'kerem', 'ahmet', 'simge', 'cansu'}

*Strings* are also iterable, so a string can be passed to *set()* as well. You have already seen that list(s) generates a list of the characters in the string s. Similarly, set(s) generates a set of the characters in s:

In [167]:
s = 'Banana'
print(list(s))
print(set(s))

['B', 'a', 'n', 'a', 'n', 'a']
{'B', 'a', 'n'}

You can see that the resulting sets are unordered: the original order, as specified in the definition, is not necessarily preserved. Additionally, duplicate values are only represented in the set once.

Alternately, a set can be defined with curly braces ({ }):

x = {<obj>, <obj>, ..., <obj>}

When a set is defined this way, each \< obj \> becomes a distinct element of the set, even if it is an iterable. This behavior is similar to that of the *.append()* list method.

Thus, the sets shown above can also be defined like this:

In [168]:
x = {'ali', 'ahmet', 'cansu', 'kerem', 'simge'}
print(x)
x = {'B', 'a', 'n', 'a', 'n', 'a'}
print(x)

{'ali', 'kerem', 'ahmet', 'simge', 'cansu'}
{'B', 'a', 'n'}

In [169]:
u = set(['alfa', 2, 3.5])
print(u)

{3.5, 'alfa', 2}

In [170]:
u = {'alfa', 2, 3.5}
print(u)

{3.5, 'alfa', 2}

To recap:

* The argument to *set()* is an iterable. It generates a list of elements to be placed into the set.
* The objects in curly braces are placed into the set intact, even if they are iterable.

Observe the difference between these two set definitions:

In [171]:
print({'banana'})
print(set('banana'))

{'banana'}
{'b', 'n', 'a'}

In [196]:
l=[1, 2, 2, 3, 3, 3, 4, 4, 4, 4]
t = set(l)
print(t)

{1, 2, 3, 4}

A set can be empty. However, recall that Python interprets empty curly braces ({ }) as an empty **dictionary**, so *the only way to define an empty set* is with the **set()** function:

In [172]:
x = set()
print(type(x))
print(x)
x = {}
print(type(x))

<class 'set'>
set()
<class 'dict'>

In [173]:
what_am_i = {'apples': 32, 'bananas': 47, 'pears': 17}
print(type(what_am_i))
what_am_i = {'apples', 'bananas', 'pears'}
print(type(what_am_i))

<class 'dict'>
<class 'set'>

In [175]:
what_am_i = {}
print(type(what_am_i))
what_am_i = set()
print(type(what_am_i))
print(what_am_i)

<class 'dict'>
<class 'set'>
set()

An empty *set* is **falsy** in Boolean context:

In [176]:
x = set()
print(bool(x))
print(x or 1)
print(x and 1)

False
1
set()

You might think the most intuitive sets would contain similar objects—for example, even numbers or surnames:

In [177]:
s1 = {2, 4, 6, 8, 10}
s2 = {'Smith', 'McArthur', 'Wilson', 'Johansson'}
print(s1)
print(s2)

{2, 4, 6, 8, 10}
{'Wilson', 'Johansson', 'McArthur', 'Smith'}

Python does not require this, though. The elements in a set can be objects of different types:

In [178]:
x = {33, 'Python', 3.14159, None}
print(x)

{33, 3.14159, 'Python', None}

Don’t forget that set elements must be immutable. For example, a tuple may be included in a set:

In [179]:
x = {33, 'Python', (1, 2, 3), 3.14159}
print(x)

{33, 3.14159, 'Python', (1, 2, 3)}

But **lists** and **dictionaries** are mutable, so they can’t be set elements:

In [180]:
a = [1, 2, 3]
print({a})

TypeError: unhashable type: 'list'

In [181]:
d = {'a': 1, 'b': 2}
print({d})

TypeError: unhashable type: 'dict'

In [182]:
list_of_numbers = [1, 2, 1, 3, 4, 8, 11, 4, 5, 8]
print(set(list_of_numbers))

{1, 2, 3, 4, 5, 8, 11}

The *len()* function returns the number of elements in a set, and the *in* and *not in* operators can be used to test for membership:

In [194]:
print(x)
print(len(x))
print('Python' in x)
print('34' in x)
print(34 not in x)
print((1,2,3,4) in x)

{33, 3.14159, 'Python', (1, 2, 3)}
4
True
False
True
False

## Operating on a Set

Many of the operations that can be used for Python’s other composite data types don’t make sense for sets. For example, sets can’t be indexed or sliced. However, Python provides a whole host of operations on set objects that generally mimic the operations that are defined for mathematical sets.

Given two sets, x1 and x2, the union of x1 and x2 is a set consisting of all elements in either set.

In Python, set union can be performed with the | operator:

Consider these two sets:

In [197]:
x1 = {'ali', 'ahmet', 'veli'}
x2 = {'ayşe', 'fatma', 'hayriye'}
print(x1 | x2)

{'ayşe', 'fatma', 'ali', 'veli', 'ahmet', 'hayriye'}

Set union can also be obtained with the *.union()* method. The method is invoked on one of the sets, and the other is passed as an argument:

In [199]:
print(x1.union(x2))

{'ayşe', 'fatma', 'ali', 'veli', 'ahmet', 'hayriye'}

The way they are used in the examples above, the operator and method behave identically. But there is a subtle difference between them. When you use the | operator, both operands must be sets. The *.union()* method, on the other hand, will take any iterable as an argument, convert it to a set, and then perform the union.

Observe the difference between these two statements:

In [200]:
print(x1 | ('Python', 'Java', 'C++'))

TypeError: unsupported operand type(s) for |: 'set' and 'tuple'

In [201]:
print(x1.union(('Python', 'Java', 'C++')))

{'ali', 'veli', 'Java', 'Python', 'ahmet', 'C++'}

Both attempt to compute the union of x1 and the tuple ('Python', 'Java', 'C++'). This fails with the | operator but succeeds with the *.union()* method.

x1.union(x2[, x3 ...])
x1 | x2 [| x3 ...]

<img src="https://cdn.programiz.com/sites/tutorial2program/files/set-union.jpg" alt="Union" title="Set Union"/>

*x1.union(x2)* and *x1 | x2* both return the set of all elements in either x1 or x2:

In [204]:
print(x1.union(x2))
print(x1 | x2)

{'ayşe', 'fatma', 'ali', 'veli', 'ahmet', 'hayriye'}
{'ayşe', 'fatma', 'ali', 'veli', 'ahmet', 'hayriye'}

More than two sets may be specified with either the operator or the method:

In [205]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}

print(a.union(b, c, d))

print(a | b | c | d)

{1, 2, 3, 4, 5, 6, 7}
{1, 2, 3, 4, 5, 6, 7}

In [207]:
s = set([2, 3, 4])
print(s)
print(t)
print(s.union(t))

{2, 3, 4}
{1, 2, 3, 4}
{1, 2, 3, 4}

x1.intersection(x2[, x3 ...])

x1 & x2 [& x3 ...]

<img src="https://cdn.programiz.com/sites/tutorial2program/files/set-intersection.jpg" alt="Intersection" title="Set Intersection"/>

*x1.intersection(x2)* and *x1 & x2* return the set of elements common to both x1 and x2:

In [209]:
print(x1)
print(x2)
print(x1.intersection(x2))
print(x1 & x2)

{'veli', 'ahmet', 'ali'}
{'fatma', 'ayşe', 'hayriye'}
set()
set()

You can specify multiple sets with the *intersection method* and *operator*, just like you can with set union:

In [210]:
a = {1, 2, 3, 4}
b = {2, 3, 4, 5}
c = {3, 4, 5, 6}
d = {4, 5, 6, 7}
print(a.intersection(b, c, d))
print(a & b & c & d)

{4}
{4}

In [211]:
print(s, t)
print(s.intersection(t))

{2, 3, 4} {1, 2, 3, 4}
{2, 3, 4}

x1.difference(x2[, x3 ...])

x1 - x2 [- x3 ...]

<img src="https://cdn.programiz.com/sites/tutorial2program/files/set-difference.jpg" alt="Difference" title="Set Difference"/>

*x1.difference(x2)* and *x1 - x2* return the set of all elements that are in x1 but not in x2:

In [212]:
print(x1)
print(x2)
print(x1.difference(x2))
print(x1 - x2)

{'veli', 'ahmet', 'ali'}
{'fatma', 'ayşe', 'hayriye'}
{'veli', 'ahmet', 'ali'}
{'veli', 'ahmet', 'ali'}

Once again, you can specify more than two sets:

In [213]:
a = {1, 2, 3, 30, 300}
b = {10, 20, 30, 40}
c = {100, 200, 300, 400}

print(a.difference(b, c))
print(a - b - c)

{1, 2, 3}
{1, 2, 3}

When multiple sets are specified, the operation is performed from left to right. In the example above, *a - b* is computed first, resulting in {1, 2, 3, 300}. Then c is subtracted from that set, leaving *{1, 2, 3}*:

<img src="https://robocrop.realpython.net/?url=https%3A//files.realpython.com/media/t.b37d6f78f99a.png&w=1153&sig=43b3c03ccbeea1cf89d8152472b81c118a065c67" alt="Difference" title="Set Difference"/>

In [215]:
print(s, t)
print(s.difference(t))
print(t.difference(s))

{2, 3, 4} {1, 2, 3, 4}
set()
{1}

x1.symmetric_difference(x2)

x1 ^ x2 [^ x3 ...]

<img src="https://cdn.programiz.com/sites/tutorial2program/files/set-symmetric-difference.jpg" alt="Symmetric Difference" title="Set Symmetric Difference"/>

*x1.symmetric_difference(x2)* and *x1 ^ x2* return the set of all elements in either x1 or x2, but not both:

In [216]:
print(x1)
print(x2)
print(x1.symmetric_difference(x2))
print(x1 ^ x2)
print(x2.symmetric_difference(x1))
print(x2 ^ x1)

{'veli', 'ahmet', 'ali'}
{'fatma', 'ayşe', 'hayriye'}
{'ayşe', 'ali', 'veli', 'fatma', 'ahmet', 'hayriye'}
{'ayşe', 'ali', 'veli', 'fatma', 'ahmet', 'hayriye'}
{'ayşe', 'ali', 'veli', 'fatma', 'ahmet', 'hayriye'}
{'ayşe', 'ali', 'veli', 'fatma', 'ahmet', 'hayriye'}

The ^ operator also allows more than two sets:

In [217]:
a = {1, 2, 3, 4, 5}
b = {10, 2, 3, 4, 50}
c = {1, 50, 100}

print(a ^ b ^ c)

{10, 100, 5}

Curiously, although the ^ operator allows multiple sets, the *.symmetric_difference()* method doesn’t:

In [218]:
print(a.symmetric_difference(b, c))

TypeError: symmetric_difference() takes exactly one argument (2 given)

In [219]:
print(s, t)
print(s.symmetric_difference(t))
print(t.symmetric_difference(s))

{2, 3, 4} {1, 2, 3, 4}
{1}
{1}

x1.isdisjoint(x2)

*x1.isdisjoint(x2)* returns True if x1 and x2 have no elements in common:

In [222]:
print(x1)
print(x2)
print(x1.isdisjoint(x2))
print(x1 & x2)

{'veli', 'ahmet', 'ali'}
{'fatma', 'ayşe', 'hayriye'}
True
set()

In [232]:
print(s, t)
print(s.isdisjoint(t))
print(s - {2} - {3} - {4})
s = {5}
print(s)
print(s.isdisjoint(t))

{2, 3, 4} {1, 2, 3, 4}
False
set()
{5}
True

If *x1.isdisjoint(x2)* is *True*, then *x1 & x2* is the empty set:

In [233]:
x_1 = {1, 3, 5}
x_2 = {2, 4, 6}

print(x_1.isdisjoint(x_2))
print(x_1 & x_2)

True
set()

x1.issubset(x2)

x1 <= x2

n set theory, a set x1 is considered a subset of another set x2 if every element of x1 is in x2.

*x1.issubset(x2)* and *x1 <= x2* return *True* if x1 is a subset of x2:

In [236]:
x_3 = {1, 2, 'ali', 'Python', 2.3, 'Java'}
x_4 = {1, 2.3, 'Python'}
x_5 = {'Python', 'Java', 3.14, 2.72}

print(x_4.issubset(x_3))
print(x_4 <= x_3)
print(x_5 <= x_3)

True
True
False

A set is considered to be a subset of itself:

In [235]:
y = {1, 2, 3, 4, 5}
print(y.issubset(y))
print(y <= y)

True
True

x1 < x2

A proper subset is the same as a subset, except that the sets can’t be identical. A set x1 is considered a proper subset of another set x2 if every element of x1 is in x2, and x1 and x2 are not equal.

*x1 < x2* returns *True* if x1 is a proper subset of x2:

In [237]:
x_3 = {1, 2, 'ali', 'Python', 2.3, 'Java'}
x_4 = {1, 2.3, 'Python'}
x_6 = {1, 2, 'ali', 'Python', 2.3, 'Java'}

print(x_4 < x_3)
print(x_6 < x_3)

True
False

While a set is considered a subset of itself, it is not a proper subset of itself:

In [238]:
print(x_3)
print(x_3 <= x_3)
print(x_3 < x_3)

{1, 2, 2.3, 'ali', 'Java', 'Python'}
True
False

x1.issuperset(x2)

x1 >= x2

A superset is the reverse of a subset. A set x1 is considered a superset of another set x2 if x1 contains every element of x2.

*x1.issuperset(x2)* and *x1 >= x2* return *True* if x1 is a superset of x2:

In [239]:
print(x_3)
print(x_4)
print(x_3.issuperset(x_4))
print(x_3 >= x_4)

{1, 2, 2.3, 'ali', 'Java', 'Python'}
{1, 2.3, 'Python'}
True
True

You have already seen that a set is considered a subset of itself. A set is also considered a superset of itself:

In [240]:
print(x_3)
print(x_3.issuperset(x_3))
print(x_3 >= x_3)

{1, 2, 2.3, 'ali', 'Java', 'Python'}
True
True

x1 > x2

A proper superset is the same as a superset, except that the sets can’t be identical. A set x1 is considered a proper superset of another set x2 if x1 contains every element of x2, and x1 and x2 are not equal.

*x1 > x2* returns *True* if x1 is a proper superset of x2:

In [241]:
print(x_3, x_4, x_6)
print(x_3 > x_4)
print(x_3 > x_6)

{1, 2, 2.3, 'ali', 'Java', 'Python'} {1, 2.3, 'Python'} {1, 2, 2.3, 'ali', 'Java', 'Python'}
True
False

A set is not a proper superset of itself:

In [242]:
print(x_3)
print(x_3 > x_3)

{1, 2, 2.3, 'ali', 'Java', 'Python'}
False

x1.update(x2[, x3 ...])

*x1.update(x2)* add to x1 any elements in x2 that x1 does not already have:

In [248]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}

x1.update(['corge', 'garply'])
print(x1)
x1.update(x2)
print(x1)

{'corge', 'foo', 'garply', 'baz', 'bar'}
{'corge', 'foo', 'garply', 'baz', 'qux', 'bar'}

x1.intersection_update(x2[, x3 ...])

*x1.intersection_update(x2)* update x1, retaining only elements found in both x1 and x2:

In [251]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1.intersection_update(x2)
print(x1)
x1.intersection_update(['baz', 'qux'])
print(x1)

{'foo', 'baz'}
{'baz'}

x1.difference_update(x2[, x3 ...])

*x1.difference_update(x2)* update x1, removing elements found in x2:

In [252]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1.difference_update(x2)
print(x1)
x1.difference_update(['foo', 'bar', 'qux'])
print(x1)

{'bar'}
set()

x1.symmetric_difference_update(x2)

*x1.symmetric_difference_update(x2)* update x1, retaining elements found in either x1 or x2, but not both:

In [253]:
x1 = {'foo', 'bar', 'baz'}
x2 = {'foo', 'baz', 'qux'}
x1.symmetric_difference_update(x2)
print(x1)
x1.symmetric_difference_update(['qux', 'corge'])
print(x1)

{'qux', 'bar'}
{'corge', 'bar'}

## Other Methods For Modifying Sets

### x.add(\< elem \>)

*x.add(\< elem \>)* adds \< elem \>, which must be a single immutable object, to x:

In [254]:
x = {'foo', 'bar', 'baz'}
x.add('qux')
print(x)

{'foo', 'qux', 'bar', 'baz'}

In [255]:
s = set()
s.add(2)
s.add(3)
s.add(2)
s.add(4)
print(s)

{2, 3, 4}

x.remove(\< elem \>)

*x.remove(\< elem \>)* removes \< elem \> from x. Python raises an exception if \< elem \> is not in x:

In [256]:
x = {'foo', 'bar', 'baz'}
x.remove('baz')
print(x)
x.remove('qux')

{'foo', 'bar'}

KeyError: 'qux'

x.discard(\< elem \>)

*x.discard(\< elem \>)* also removes \< elem \> from x. However, if \< elem \> is not in x, this method quietly does nothing instead of raising an exception:

In [257]:
x = {'foo', 'bar', 'baz'}

x.discard('baz')
print(x)

x.discard('qux')
print(x)

{'foo', 'bar'}
{'foo', 'bar'}

In [258]:
print(s)
s.discard(3)
print(s)

{2, 3, 4}
{2, 4}

x.pop()

*x.pop()* removes and returns an arbitrarily chosen element from x. If x is empty, *x.pop()* raises an exception:

In [259]:
x = {'foo', 'bar', 'baz'}
print(x.pop())
print(x)
print(x.pop())
print(x)
print(x.pop())
print(x)
print(x.pop())

foo
{'bar', 'baz'}
bar
{'baz'}
baz
set()

KeyError: 'pop from an empty set'

x.clear()

*x.clear()* removes all elements from x:

In [260]:
x = {'foo', 'bar', 'baz'}
print(x)
x.clear()
print(x)

{'foo', 'bar', 'baz'}
set()

In [261]:
print(s)
s.clear()
print(s)

{2, 4}
set()

## Frozen Sets

Python provides another built-in type called a *frozenset*, which is in all respects exactly like a set, except that a *frozenset* is **immutable**. You can perform non-modifying operations on a *frozenset*:

In [262]:
x = frozenset(['foo', 'bar', 'baz'])
print(x)
print(len(x))
print(x & {'baz', 'qux', 'quux'})

frozenset({'foo', 'bar', 'baz'})
3
frozenset({'baz'})

But methods that attempt to modify a frozenset fail:

In [263]:
x = frozenset(['foo', 'bar', 'baz'])
x.add('qux')

AttributeError: 'frozenset' object has no attribute 'add'

In [264]:
x.pop()

AttributeError: 'frozenset' object has no attribute 'pop'

In [265]:
x.clear()

AttributeError: 'frozenset' object has no attribute 'clear'

In [266]:
print(x)

frozenset({'foo', 'bar', 'baz'})

Since a *frozenset* is **immutable**, you might think it can’t be the target of an augmented assignment operator. But observe:

In [269]:
f = frozenset(['foo', 'bar', 'baz'])
s = {'baz', 'qux', 'quux'}
f &= s
print(f)

frozenset({'baz'})

What gives?

Python does not perform augmented assignments on frozensets in place. The statement x &= s is effectively equivalent to x = x & s. It isn’t modifying the original x. It is reassigning x to a new object, and the object x originally referenced is gone.

You can verify this with the id() function:

In [270]:
f = frozenset(['foo', 'bar', 'baz'])
print(id(f))
s = {'baz', 'qux', 'quux'}
f &= s
print(f)
print(id(f))

2708551000136
frozenset({'baz'})
2708549692104

**Frozensets** are useful in situations where you want to use *a set*, but you need an **immutable** object. For example, **you can’t define a set whose elements are also sets, because set elements must be immutable**:

In [271]:
x1 = set(['foo'])
x2 = set(['bar'])
x3 = set(['baz'])
x = {x1, x2, x3}

TypeError: unhashable type: 'set'

If you really feel compelled to define a set of sets, you can do it if the elements are *frozensets*, because they are **immutable**:

In [272]:
x1 = frozenset(['foo'])
x2 = frozenset(['bar'])
x3 = frozenset(['baz'])
x = {x1, x2, x3}
print(x)

{frozenset({'foo'}), frozenset({'baz'}), frozenset({'bar'})}

Likewise, recall from the above on dictionaries that a dictionary key must be **immutable**. You can’t use the built-in set type as a dictionary key:

In [273]:
x = {1, 2, 3}
y = {'a', 'b', 'c'}
d = {x: 'foo', y: 'bar'}

TypeError: unhashable type: 'set'

If you find yourself needing to use sets as dictionary keys, you can use *frozensets*:

In [274]:
x = frozenset({1, 2, 3})
y = frozenset({'a', 'b', 'c'})
d = {x: 'foo', y: 'bar'}
print(d)

{frozenset({1, 2, 3}): 'foo', frozenset({'b', 'a', 'c'}): 'bar'}

In [275]:
ft = frozenset(t)
print(ft)

frozenset({1, 2, 3, 4})

In [276]:
ft.add(2)

AttributeError: 'frozenset' object has no attribute 'add'

In [277]:
set_of_numbers = {1, 2, 3, 4}
print(set_of_numbers)
set_of_numbers.add(5)
print(set_of_numbers)
print(3 in set_of_numbers)
print(6 in set_of_numbers)

{1, 2, 3, 4}
{1, 2, 3, 4, 5}
True
False

### repr() and eval() functions

Python has a built-in function named **repr** that takes a Python object as an argument and returns a string *representation* of that object. For Python’s built-in types, the string *representation* of an object can be *evaluated* using the built-in **eval** function to recreate the object.

The way this works is easiest to demonstrate by example.

In [280]:
mylist = [1, 2, 'buckle', 'my', 'shoe']
print(type(mylist))
print(repr(mylist))
print(type(repr(mylist)))
s = repr(mylist)
print(s)
print(type(s))
print(eval(s))
print(type(eval(s)))
thing = eval(s)
print(thing)
print(type(thing))

<class 'list'>
[1, 2, 'buckle', 'my', 'shoe']
<class 'str'>
[1, 2, 'buckle', 'my', 'shoe']
<class 'str'>
[1, 2, 'buckle', 'my', 'shoe']
<class 'list'>
[1, 2, 'buckle', 'my', 'shoe']
<class 'list'>

### enumarate () function

In [281]:
L = ['apples', 'bananas', 'oranges']
for idx, val in enumerate(L):
    print("index is %d and value is %s" % (idx, val))

index is 0 and value is apples
index is 1 and value is bananas
index is 2 and value is oranges

In [283]:
l = [1, 2, 3, 4, 5, 6, 7, 8, 9]
for i, j in enumerate(l):
    print(i, j)

0 1
1 2
2 3
3 4
4 5
5 6
6 7
7 8
8 9

In [286]:
# Python program to illustrate 
# enumerate function 
l1 = ["eat","sleep","repeat"] 
s1 = "geek"
  
# creating enumerate objects 
obj1 = enumerate(l1) 
obj2 = enumerate(s1) 
  
print ("Return type:",type(obj1)) 
print (list(enumerate(l1))) 
  
# changing start index to 2 from 0 
print (list(enumerate(s1,2)))

Return type: <class 'enumerate'>
[(0, 'eat'), (1, 'sleep'), (2, 'repeat')]
[(2, 'g'), (3, 'e'), (4, 'e'), (5, 'k')]

In [287]:
# Python program to illustrate 
# enumerate function in loops 
l1 = ["eat","sleep","repeat"] 
  
# printing the tuples in object directly 
for ele in enumerate(l1): 
    print (ele) 
print 
# changing index and printing separately 
for count,ele in enumerate(l1,100): 
    print (count,ele)

(0, 'eat')
(1, 'sleep')
(2, 'repeat')
100 eat
101 sleep
102 repeat

In [292]:
L = ['apples', 'bananas', 'oranges']
for idx, s in enumerate(L, start = 1):
    print("index is %d and value is %s" \
         % (idx, s))

index is 1 and value is apples
index is 2 and value is bananas
index is 3 and value is oranges

In [288]:
t = ('apples', 'bananas', 'oranges')
for idx, val in enumerate(t):
    print("index is %d and value is %s" % (idx, val))

index is 0 and value is apples
index is 1 and value is bananas
index is 2 and value is oranges

In [296]:
pets = ('dog', 'cat', 'parrot', 'hamster', 'mongoose')
for index, pet in enumerate(pets):
     print(index, pet)
print()
for index, pet in enumerate(pets, 100):
    print(index, pet)
    
print()
index = 0  # manual index
for pet in pets:
    print(index, pet)
    index += 1

0 dog
1 cat
2 parrot
3 hamster
4 mongoose

100 dog
101 cat
102 parrot
103 hamster
104 mongoose

0 dog
1 cat
2 parrot
3 hamster
4 mongoose

In [289]:
L = [('Matt', 20), ('Karim', 30), ('Maya', 40)]
for idx, val in enumerate(L):
    name = val[0]
    age = val[1]
    print("index is %d, name is %s, and age is %d" \
         % (idx, name, age))

index is 0, name is Matt, and age is 20
index is 1, name is Karim, and age is 30
index is 2, name is Maya, and age is 40

In [290]:
for idx, (name, age) in enumerate(L):
    print("index is %d, name is %s, and age is %d" \
        % (idx, name, age))

index is 0, name is Matt, and age is 20
index is 1, name is Karim, and age is 30
index is 2, name is Maya, and age is 40

In [291]:
str = "Python"
for idx, ch in enumerate(str):
    print("index is %d and character is %s" \
         % (idx, ch))

index is 0 and character is P
index is 1 and character is y
index is 2 and character is t
index is 3 and character is h
index is 4 and character is o
index is 5 and character is n

Think about it, the only reason you would use enumerate is when you actually care about the index of the item.

**Dictionaries** and **Sets** are not sequences.

Their items do not have an index, and they don’t, by definition, need one.

If you want to iterate over the keys and values of a dictionary instead (a very common operation), then you can do that using the following code:

In [297]:
d = {'a': 1, 'b': 2, 'c': 3}
for k, v in d.items():
  # k is now the key
  # v is the value
    print(k, v)

a 1
b 2
c 3

In [298]:
s = {'a', 'b', 'c'}
for v in s:
    print(v)

b
a
c

In [303]:
pets_dict = { "Toby" : "dog", 
             "Serena" : "cat", 
             "Ted" : "hamster", 
             "Wilma" : "parrot", 
             "Riki-tiki-tavi" : "mongoose" }
for key in pets_dict:
    print(key)
print()
for key in pets_dict:
    print(key, "is a", pets_dict[key])
print()
for index, value in enumerate(pets_dict):
    print(index, value)
print()
for index, item in enumerate(pets_dict.items()):
    print(index, item)

Toby
Serena
Ted
Wilma
Riki-tiki-tavi

Toby is a dog
Serena is a cat
Ted is a hamster
Wilma is a parrot
Riki-tiki-tavi is a mongoose

0 Toby
1 Serena
2 Ted
3 Wilma
4 Riki-tiki-tavi

0 ('Toby', 'dog')
1 ('Serena', 'cat')
2 ('Ted', 'hamster')
3 ('Wilma', 'parrot')
4 ('Riki-tiki-tavi', 'mongoose')

In [306]:
enumm = {0: 1, 1: 2, 2: 3, 4: 4, 5: 5, 6: 6, 7: 7}
for i, j in enumerate(enumm):
    print(i, j)
print()
for i, j in enumm.items():
    print(i, j)
print()
for i, k in enumerate(enumm):
    print("{}) d.key={}, d.value={}".format(i, k, enumm[k]))

0 0
1 1
2 2
3 4
4 5
5 6
6 7

0 1
1 2
2 3
4 4
5 5
6 6
7 7

0) d.key=0, d.value=1
1) d.key=1, d.value=2
2) d.key=2, d.value=3
3) d.key=4, d.value=4
4) d.key=5, d.value=5
5) d.key=6, d.value=6
6) d.key=7, d.value=7

In [308]:
d = {1 : {'a': 1, 'b' : 2, 'c' : 3},
     2 : {'a': 10, 'b' : 20, 'c' : 30}
    }    
for i, k in enumerate(d):
        print("{}) key={}, value={}".format(i, k, d[k]))

0) key=1, value={'a': 1, 'b': 2, 'c': 3}
1) key=2, value={'a': 10, 'b': 20, 'c': 30}

In [309]:
d = {0: 'zero', '0': 'ZERO', 1: 'one', '1': 'ONE'}

print("List of enumerated d= ", list(enumerate(d.items())))

List of enumerated d=  [(0, (0, 'zero')), (1, ('0', 'ZERO')), (2, (1, 'one')), (3, ('1', 'ONE'))]

In [312]:
print(type(enumerate([1, 2, 3])))

<class 'enumerate'>

In [313]:
print(list(enumerate(['a', 'b', 'c'])))

[(0, 'a'), (1, 'b'), (2, 'c')]

In [314]:
>>> for idx, val in enumerate(['a', 'b']):
...   print(idx, val)

0 a
1 b

In [315]:
>>> for i in enumerate(['a', 'b']):
...   print(i[0], i[1])

0 a
1 b